<div class="flex-container" style="width: 100%">

  <div>
    <mat-card>

      <mat-card-title>Cotacao</mat-card-title>
      <mat-card-content>

        <div style="margin-top: 40px; margin-bottom: 20px">
          <mat-radio-group (ngModelChange)="consultaCotacaoCategoria($event)" [(ngModel)]="filtroCotacao.categoria">
            <mat-radio-button style="padding-right: 15px" *ngFor="let categoria of todasCategorias" [value]="categoria">
              {{categoria}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div>
          <mat-form-field appearance="outline" style="width: 33%">
            <mat-label>Estado</mat-label>
            <input (ngModelChange)="consultaCotacaoEstado($event)" matInput [formControl]="estadoAutoCompleteControl" [matAutocomplete]="auto1" type="text">
            <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="estadoDisplayFn">
              <mat-option *ngFor="let estado of estadoFilteredOptions | async" [value]="estado">
                {{estado.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 33%">
            <mat-label>Coparticipacao</mat-label>
            <mat-select (ngModelChange)="consultaCotacaoCoparticipacao($event)" [(ngModel)]="filtroCotacao.coparticipacao">
              <mat-option [value]="null"></mat-option>
              <mat-option [value]="true">Com</mat-option>
              <mat-option [value]="false">Sem</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 33%">
            <mat-label>Acomodacao</mat-label>
            <mat-select (ngModelChange)="consultaCotacaoAcomodacao($event)" [(ngModel)]="filtroCotacao.acomodacao">
              <mat-option [value]=""></mat-option>
              <mat-option *ngFor="let acomodacao of todasAcomodacoes;" [value]="acomodacao">{{acomodacao}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field *ngIf="filtroCotacao.categoria === 'Adesao'" appearance="outline" style="width: 100%">
          <mat-label>Profissoes</mat-label>
          <mat-select (ngModelChange)="consultaCotacaoProfissao($event)" [(ngModel)]="filtroCotacao.profissoes" multiple>
            <mat-option *ngFor="let profissao of todasProfissoes" [value]="profissao">{{profissao.nome}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <mat-form-field appearance="outline" style="width: 20%">
            <mat-label>Qtd. Vidas 0 a 18</mat-label>
            <input type="number" matInput placeholder="0 a 18"
                   [(ngModel)]="filtroCotacao.qtdVidas0a18anos">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 20%">
            <mat-label>Qtd. Vidas 19 a 23</mat-label>
            <input type="number" matInput placeholder="19 a 23"
                   [(ngModel)]="filtroCotacao.qtdVidas19a23anos">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 20%">
            <mat-label>Qtd. Vidas 24 a 28</mat-label>
            <input type="number" matInput placeholder="24 a 28"
                   [(ngModel)]="filtroCotacao.qtdVidas24a28anos">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 20%">
            <mat-label>Qtd. Vidas 29 a 33</mat-label>
            <input type="number" matInput placeholder="29 a 33"
                   [(ngModel)]="filtroCotacao.qtdVidas29a33anos">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 20%">
            <mat-label>Qtd. Vidas 34 a 38</mat-label>
            <input type="number" matInput placeholder="34 a 38"
                   [(ngModel)]="filtroCotacao.qtdVidas34a38anos">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" style="width: 20%">
            <mat-label>Qtd. Vidas 39 a 43</mat-label>
            <input type="number" matInput placeholder="39 a 43"
                   [(ngModel)]="filtroCotacao.qtdVidas39a43anos">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 20%">
            <mat-label>Qtd. Vidas 44 a 48</mat-label>
            <input type="number" matInput placeholder="44 a 48"
                   [(ngModel)]="filtroCotacao.qtdVidas44a48anos">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 20%">
            <mat-label>Qtd. Vidas 49 a 53</mat-label>
            <input type="number" matInput placeholder="49 a 53"
                   [(ngModel)]="filtroCotacao.qtdVidas49a53anos">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 20%">
            <mat-label>Qtd. Vidas 54 a 58</mat-label>
            <input type="number" matInput placeholder="54 a 58"
                   [(ngModel)]="filtroCotacao.qtdVidas54a58anos">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 20%">
            <mat-label>Qtd. Vidas 59 ou Mais</mat-label>
            <input type="number" matInput placeholder="59 ou mais"
                   [(ngModel)]="filtroCotacao.qtdVidas59ouMaisAnos">
          </mat-form-field>
        </div>
        <div>

        </div>
        <div>

        </div>

      </mat-card-content>
    </mat-card>
  </div>

</div>

<div *ngIf="todasOpcoes" style="height: 20px"></div>

<div [hidden]="!todasOpcoes">

  <mat-card>
    <mat-card-title>Resultados Consulta</mat-card-title>
    <div style="text-align: right; padding-bottom: 10px;">
      <button mat-button (click)="accordion.openAll()">Expand All</button>
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>
    <mat-card-content>

      <mat-accordion multi>

        <div [hidden]="filtroCotacao.coparticipacao === true || filtroCotacao.acomodacao === 'Enfermaria'">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>attach_money</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <b>Apartamento - Sem Coparticipacao</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div>
              <mat-table #sortCotacaoAptSemCopart='matSort' [dataSource]="dataSourceCotacaoAptSemCopart" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.id}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.tabela.estado.sigla}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nomeTabela">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Tabela </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.tabela.nome}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nomeProduto">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Produto </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.produto.nome}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="acomodacao">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Acomodacao </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.acomodacao}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="coparticipacao">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Coparticipacao </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.coparticipacao ? 'Com' : 'Sem'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="valor">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> R$ </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{ calculaValorCotacao(cotacao) | currency: 'BRL' }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="entidades">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Entidades </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{ displayEntidades(cotacao) }} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator #paginatorCotacaoAptSemCopart [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceCotacaoAptSemCopart.data.length" showFirstLastButtons></mat-paginator>
            </div>

          </mat-expansion-panel>
        </div>
        <div style="padding-top: 20px" [hidden]="filtroCotacao.coparticipacao === false || filtroCotacao.acomodacao === 'Enfermaria'">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>attach_money</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <b>Apartamento - Com Coparticipacao</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div>
              <mat-table #sortCotacaoAptComCopart='matSort' [dataSource]="dataSourceCotacaoAptComCopart" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.id}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.tabela.estado.sigla}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nomeTabela">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Tabela </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.tabela.nome}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nomeProduto">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Produto </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.produto.nome}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="acomodacao">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Acomodacao </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.acomodacao}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="coparticipacao">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Coparticipacao </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.coparticipacao ? 'Com' : 'Sem'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="valor">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> R$ </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{ calculaValorCotacao(cotacao) | currency: 'BRL' }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="entidades">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Entidades </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{ displayEntidades(cotacao) }} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator #paginatorCotacaoAptComCopart [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceCotacaoAptComCopart.data.length" showFirstLastButtons></mat-paginator>
            </div>

          </mat-expansion-panel>
        </div>
        <div style="padding-top: 20px" [hidden]="filtroCotacao.coparticipacao === true || filtroCotacao.acomodacao === 'Apartamento'">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>attach_money</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <b>Enfermaria - Sem Coparticipacao</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div>
              <mat-table #sortCotacaoEnfSemCopart='matSort' [dataSource]="dataSourceCotacaoEnfSemCopart" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.id}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.tabela.estado.sigla}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nomeTabela">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Tabela </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.tabela.nome}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nomeProduto">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Produto </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.produto.nome}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="acomodacao">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Acomodacao </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.acomodacao}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="coparticipacao">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Coparticipacao </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.coparticipacao ? 'Com' : 'Sem'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="valor">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> R$ </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{ calculaValorCotacao(cotacao) | currency: 'BRL' }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="entidades">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Entidades </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{ displayEntidades(cotacao) }} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator #paginatorCotacaoEnfSemCopart [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceCotacaoEnfSemCopart.data.length" showFirstLastButtons></mat-paginator>
            </div>

          </mat-expansion-panel>
        </div>
        <div style="padding-top: 20px" [hidden]="filtroCotacao.coparticipacao === false || filtroCotacao.acomodacao === 'Apartamento'">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>attach_money</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <b>Enfermaria - Com Coparticipacao</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div>
              <mat-table #sortCotacaoEnfComCopart='matSort' [dataSource]="dataSourceCotacaoEnfComCopart" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.id}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.tabela.estado.sigla}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nomeTabela">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Tabela </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.tabela.nome}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nomeProduto">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Produto </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.produto.nome}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="acomodacao">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Acomodacao </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.acomodacao}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="coparticipacao">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Coparticipacao </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{cotacao.coparticipacao ? 'Com' : 'Sem'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="valor">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> R$ </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{ calculaValorCotacao(cotacao) | currency: 'BRL' }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="entidades">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Entidades </mat-header-cell>
                  <mat-cell *matCellDef="let cotacao" (click)="selecionaCotacao(cotacao)" class="mouse-pointer"> {{ displayEntidades(cotacao) }} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator #paginatorCotacaoEnfComCopart [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceCotacaoEnfComCopart.data.length" showFirstLastButtons></mat-paginator>
            </div>

          </mat-expansion-panel>
        </div>

        <div style="padding-top: 20px">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>local_hospital</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <b>Hospitais</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div>
              hospitais...
            </div>

          </mat-expansion-panel>
        </div>

        <div style="padding-top: 20px">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>science</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <b>Laboratorios</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div>
              laboratiorios...
            </div>

          </mat-expansion-panel>
        </div>

        <div [hidden]="filtroCotacao.coparticipacao === false" style="padding-top: 20px">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>payments</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <b>Coparticipacao</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div>
              coparticipacao...
            </div>

          </mat-expansion-panel>
        </div>

        <div style="padding-top: 20px">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>account_balance_wallet</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <b>Reembolso</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div>
              reembolso...
            </div>

          </mat-expansion-panel>
        </div>

      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>

