<div class="flex-container" xmlns="http://www.w3.org/1999/html">
  <div>
    <mat-card>
      <mat-card-title>
        Lista de Entidades
      </mat-card-title>
      <br/>

      <mat-card-content>
        <mat-table #entidadesSort="matSort" [dataSource]="dataSourceEntidade" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let entidade"> {{entidade.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let entidade" (click)="selecionaEntidade(entidade)"> {{entidade.nome}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginatorEntidades [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceEntidade.data.length" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="profissoes" style="width: 20px"></div>

  <div>
    <mat-card *ngIf="profissoes">

      <mat-card-title>
        <span>
          Lista de Profissoes Vinculadas
        </span>
        <span style="float: right">
          <a *ngIf="editando" (click)="salvar()">
            <mat-icon>save</mat-icon>
          </a>
          <a *ngIf="editando" (click)="editar()">
            <mat-icon>delete</mat-icon>
          </a>
          <a *ngIf="!editando" (click)="editar()">
            <mat-icon>edit</mat-icon>
          </a>
          <a (click)="profissoes = null">
            <mat-icon>close</mat-icon>
          </a>
        </span>
      </mat-card-title>
      <br/>

      <mat-card-content>
        <div *ngIf="editando">

          <mat-table #profissoesSort="matSort" [dataSource]="dataSourceProfissao" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
              <mat-cell *matCellDef="let profissao"> {{profissao.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nome">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
              <mat-cell *matCellDef="let profissao" > {{profissao.nome}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="selecionado">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center"> Selecione </mat-header-cell>
              <mat-cell *matCellDef="let profissao">
                <section style="width: 100%; text-align: center">
                  <mat-checkbox [(ngModel)]="profissao.selected"></mat-checkbox>
                </section>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['id', 'nome', 'selecionado']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['id', 'nome', 'selecionado'];"></mat-row>
          </mat-table>
          <mat-paginator #paginatorProfissoes [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceProfissao.data.length" showFirstLastButtons></mat-paginator>


<!--          <mat-selection-list #profissoesList>-->
<!--            <mat-list-option *ngFor="let profissao of todasProfissoes"-->
<!--                             [selected]="profissao.selected"-->
<!--                             (click)="profissao.selected = !profissao.selected">-->

<!--              {{profissao.nome}}-->
<!--            </mat-list-option>-->
<!--            <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>-->
<!--          </mat-selection-list>-->
        </div>

        <div *ngIf="!editando">

          <mat-table #profissoesSort="matSort" [dataSource]="dataSourceProfissao" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
              <mat-cell *matCellDef="let profissao"> {{profissao.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nome">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
              <mat-cell *matCellDef="let profissao" > {{profissao.nome}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['id', 'nome']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['id', 'nome'];"></mat-row>
          </mat-table>
          <mat-paginator #paginatorProfissoes [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceProfissao.data.length" showFirstLastButtons></mat-paginator>

        </div>

      </mat-card-content>

    </mat-card>

  </div>

</div>

{{profissoes | json}}
{{todasProfissoes | json}}
