<div class="flex-container" xmlns="http://www.w3.org/1999/html">
  <div style="width: 80%">
    <mat-card>
      <mat-card-title>
        <span>
          Lista de Entidades
        </span>
        <span style="float: right">
          <a (click)="adicionar()">
            <mat-icon class="mouse-pointer">add</mat-icon>
          </a>
        </span>
      </mat-card-title>
      <br/>

      <mat-card-content>
        <mat-form-field style="width: 100%">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilterEntidade($event)" placeholder="Filtro" #inputFiltroEntidade>
        </mat-form-field>
        <mat-table #entidadesSort="matSort" [dataSource]="dataSourceEntidade" matSortActive="nome" matSortDirection="asc" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let entidade" (click)="selecionaEntidade(entidade)" class="mouse-pointer"> {{entidade.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let entidade" (click)="selecionaEntidade(entidade)" class="mouse-pointer"> {{entidade.nome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="valorAssociacao">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Valor Associação </mat-header-cell>
            <mat-cell *matCellDef="let entidade" (click)="selecionaEntidade(entidade)" class="mouse-pointer"> {{entidade.valorAssociacao}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="documentacao">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Documentação </mat-header-cell>
            <mat-cell *matCellDef="let entidade" (click)="selecionaEntidade(entidade)" class="mouse-pointer"> {{entidade.documentacao}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="observacoes">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Observações </mat-header-cell>
            <mat-cell *matCellDef="let entidade" (click)="selecionaEntidade(entidade)" class="mouse-pointer"> {{entidade.observacoes}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="profissoes">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Profissões </mat-header-cell>
            <mat-cell *matCellDef="let entidade" (click)="selecionaEntidade(entidade)" class="mouse-pointer"> {{entidade.profissoes.map(getNomeProfissao).join(', ')}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          <tr class="mat-row" *matNoDataRow>
            <td style="text-align: center; width: 100%; margin: auto" class="mat-cell">Nenhum resultado encontrado para o filtro: "{{inputFiltroEntidade.value}}"</td>
          </tr>
        </mat-table>
        <mat-paginator #paginatorEntidades [pageSizeOptions]="[100, 500, 1000]" [length]="dataSourceEntidade.data.length" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="entidadeSelecionada" style="width: 20px"></div>

  <div [hidden]="!entidadeSelecionada" style="flex-direction: column">
    <div *ngIf="entidadeSelecionada">
      <mat-card>
        <mat-card-title>
        <span *ngIf="adicionandoEntidade()">Adicionando Entidade</span>
        <span *ngIf="editandoEntidade()">Editando Entidade</span>
        <span *ngIf="!adicionandoEntidade() && !editandoEntidade()">Visualizando Entidade</span>

        <span style="float: right; padding-left: 20px">
          <a *ngIf="!editandoEntidade() && !adicionandoEntidade()" (click)="editarEntidade()">
            <mat-icon class="mouse-pointer">create</mat-icon>
          </a>
          <a *ngIf="!editandoEntidade() && !adicionandoEntidade()" (click)="removerEntidade()">
            <mat-icon class="mouse-pointer">delete</mat-icon>
          </a>
          <a *ngIf="adicionandoEntidade()" (click)="salvarNovaEntidade()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="editandoEntidade()" (click)="atualizarEntidade()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="adicionandoEntidade() || (!editandoEntidade() && !adicionandoEntidade())" (click)="cancelarAdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
          <a *ngIf="editandoEntidade()" (click)="cancelarEdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
        </span>
        </mat-card-title>
        <br/>

        <mat-card-content>
          <form #formEntidade="ngForm">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Nome</mat-label>
              <input matInput #inputNome (focusin)="inputNome.select()" placeholder="Nome" name="nome" [disabled]="!adicionandoEntidade() && !editandoEntidade()"
                     [(ngModel)]="entidadeEditando.nome" required>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Valor Associação</mat-label>
              <input matInput #inputValorAssociacao (focusin)="inputValorAssociacao.select()" placeholder="Valor Associação" name="valorAssociacao" [disabled]="!adicionandoEntidade() && !editandoEntidade()"
                     [(ngModel)]="entidadeEditando.valorAssociacao">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Documentação</mat-label>
              <textarea matInput #inputDocumentacao (focusin)="inputDocumentacao.select()" placeholder="Documentação" name="documentacao" [disabled]="!adicionandoEntidade() && !editandoEntidade()"
                     [(ngModel)]="entidadeEditando.documentacao"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Observações</mat-label>
              <textarea matInput #inputObservacoes (focusin)="inputObservacoes.select()" placeholder="Observações" name="observacoes" [disabled]="!adicionandoEntidade() && !editandoEntidade()"
                     [(ngModel)]="entidadeEditando.observacoes"></textarea>
            </mat-form-field>
            <button type="submit" hidden></button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="entidadeSelecionada" style="height: 20px"></div>
    <div [hidden]="!entidadeSelecionada">
      <mat-card>
        <mat-card-title>
          Lista de Profissoes Vinculadas - {{entidadeSelecionada?.nome}}
        </mat-card-title>
        <br/>

        <mat-card-content>
          <mat-form-field style="width: 100%">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilterProfissao($event)" placeholder="Filtro" #inputFiltroProfissao>
          </mat-form-field>
          <div>
            <mat-table #profissoesSort="matSort" [dataSource]="dataSourceProfissao" matSortActive="selected" matSortDirection="desc" matSort class="mat-elevation-z8">
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                <mat-cell *matCellDef="let profissao" (click)="profissao.selected = !profissao.selected" class="mouse-pointer"> {{profissao.id}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                <mat-cell *matCellDef="let profissao" (click)="profissao.selected = !profissao.selected" class="mouse-pointer"> {{profissao.nome}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="selected">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center"> Selecione </mat-header-cell>
                <mat-cell *matCellDef="let profissao" style="justify-content: center">
                  <section style="width: 100%; text-align: center">
                    <mat-checkbox [(ngModel)]="profissao.selected"></mat-checkbox>
                  </section>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="getColumnsProfissao()"></mat-header-row>
              <mat-row *matRowDef="let row; columns: getColumnsProfissao();"></mat-row>

              <tr class="mat-row" *matNoDataRow>
                <td style="text-align: center; width: 100%; margin: auto" class="mat-cell">Nenhum resultado encontrado para o filtro: "{{inputFiltroProfissao.value}}"</td>
              </tr>
            </mat-table>
            <mat-paginator #paginatorProfissoes [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceProfissao.data.length" showFirstLastButtons></mat-paginator>
          </div>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>
