<div class="flex-container" xmlns="http://www.w3.org/1999/html">
  <div>
    <mat-card>
      <mat-card-title>
        <span>
          Lista de Profissoes
        </span>
        <span style="float: right">
          <a (click)="adicionar()">
            <mat-icon class="mouse-pointer">add</mat-icon>
          </a>
        </span>
      </mat-card-title>
      <br/>

      <mat-card-content>
        <mat-table [dataSource]="dataSourceProfissao" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let administradora" (click)="selecionaProfissao(administradora)" class="mouse-pointer"> {{administradora.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let administradora" (click)="selecionaProfissao(administradora)" class="mouse-pointer"> {{administradora.nome}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[15, 50, 100]" [length]="dataSourceProfissao.data.length" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="profissaoSelecionada" style="width: 20px"></div>

  <div *ngIf="profissaoSelecionada" style="flex-direction: column">
    <div>
      <mat-card>
        <mat-card-title>
          <span *ngIf="adicionandoProfissao()">Adicionando Profissao</span>
          <span *ngIf="editandoProfissao()">Editando Profissao</span>
          <span *ngIf="!adicionandoProfissao() && !editandoProfissao()">Visualizando Profissao</span>

          <span style="float: right; padding-left: 20px">
          <a *ngIf="!editandoProfissao() && !adicionandoProfissao()" (click)="editarProfissao()">
            <mat-icon class="mouse-pointer">create</mat-icon>
          </a>
          <a *ngIf="!editandoProfissao() && !adicionandoProfissao()" (click)="removerProfissao()">
            <mat-icon class="mouse-pointer">delete</mat-icon>
          </a>
          <a *ngIf="adicionandoProfissao()" (click)="salvarNovaProfissao()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="editandoProfissao()" (click)="atualizarProfissao()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="adicionandoProfissao()" (click)="cancelarAdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
          <a *ngIf="editandoProfissao()" (click)="cancelarEdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
        </span>
        </mat-card-title>
        <br/>

        <mat-card-content>
          <form #profissaoForm="ngForm" (submit)="onSubmit()">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" name="nome" [disabled]="!adicionandoProfissao() && !editandoProfissao()"
                     [(ngModel)]="profissaoEditando.nome" required>
            </mat-form-field>
            <button type="submit" hidden></button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
