<div class="flex-container" xmlns="http://www.w3.org/1999/html">
  <div>
    <mat-card>
      <mat-card-title>
        <span>
          Lista de Laboratorios
        </span>
        <span style="float: right">
          <a (click)="adicionar()">
            <mat-icon class="mouse-pointer">add</mat-icon>
          </a>
        </span>
      </mat-card-title>
      <br/>

      <mat-card-content>
        <mat-table [dataSource]="dataSourceLaboratorio" matSortActive="nome" matSortDirection="asc" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let laboratorio" (click)="selecionaLaboratorio(laboratorio)" class="mouse-pointer"> {{laboratorio.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let laboratorio" (click)="selecionaLaboratorio(laboratorio)" class="mouse-pointer"> {{laboratorio.nome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="local">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Local </mat-header-cell>
            <mat-cell *matCellDef="let laboratorio" (click)="selecionaLaboratorio(laboratorio)" class="mouse-pointer"> {{laboratorio.local}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[100, 500, 1000]" [length]="dataSourceLaboratorio.data.length" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="laboratorioSelecionado" style="width: 20px"></div>

  <div *ngIf="laboratorioSelecionado" style="flex-direction: column">
    <div>
      <mat-card>
        <mat-card-title>
          <span *ngIf="adicionandoLaboratorio()">Adicionando Laboratorio</span>
          <span *ngIf="editandoLaboratorio()">Editando Laboratorio</span>
          <span *ngIf="!adicionandoLaboratorio() && !editandoLaboratorio()">Visualizando Laboratorio</span>

          <span style="float: right; padding-left: 20px">
          <a *ngIf="!editandoLaboratorio() && !adicionandoLaboratorio()" (click)="editarLaboratorio()">
            <mat-icon class="mouse-pointer">create</mat-icon>
          </a>
          <a *ngIf="!editandoLaboratorio() && !adicionandoLaboratorio()" (click)="removerLaboratorio()">
            <mat-icon class="mouse-pointer">delete</mat-icon>
          </a>
          <a *ngIf="adicionandoLaboratorio()" (click)="salvarNovoLaboratorio()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="editandoLaboratorio()" (click)="atualizarLaboratorio()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="adicionandoLaboratorio() || (!editandoLaboratorio() && !adicionandoLaboratorio())" (click)="cancelarAdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
          <a *ngIf="editandoLaboratorio()" (click)="cancelarEdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
        </span>
        </mat-card-title>
        <br/>

        <mat-card-content>
          <form #formLaboratorio="ngForm">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" name="nome" [disabled]="!adicionandoLaboratorio() && !editandoLaboratorio()"
                     [(ngModel)]="laboratorioEditando.nome" required>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Local</mat-label>
              <input matInput placeholder="Local" name="local" [disabled]="!adicionandoLaboratorio() && !editandoLaboratorio()"
                     [(ngModel)]="laboratorioEditando.local" required>
            </mat-form-field>
            <button type="submit" hidden></button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
