<mat-card>
  <mat-card-title>
    <span>
      Usuarios
    </span>
    <span style="float: right">
      <a (click)="adicionar()">
        <mat-icon>add</mat-icon>
      </a>
    </span>
  </mat-card-title>
  <br/>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.nome}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="password">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Senha </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.password}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Roles </mat-header-cell>
        <mat-cell *matCellDef="let usuario"> {{usuario.roles}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[15, 50, 100]" [length]="dataSource.data.length" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
