<div class="flex-container">
  <div>
    <mat-card>
      <mat-card-title>
        <span>
          Lista de Usuarios
        </span>
        <span style="float: right">
          <a (click)="adicionar()">
            <mat-icon class="mouse-pointer">add</mat-icon>
          </a>
        </span>
      </mat-card-title>
      <br/>

      <mat-card-content>
        <mat-table #usuariosSort="matSort" [dataSource]="dataSourceUsuario" matSortActive="nome" matSortDirection="asc" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let usuario" (click)="selecionarUsuario(usuario)" class="mouse-pointer"> {{usuario.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let usuario" (click)="selecionarUsuario(usuario)" class="mouse-pointer"> {{usuario.nome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let usuario" (click)="selecionarUsuario(usuario)" class="mouse-pointer"> {{usuario.email}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginatorUsuarios [pageSizeOptions]="[100, 500, 1000]" [length]="dataSourceUsuario.data.length" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="usuarioSelecionado" style="width: 20px"></div>

  <div [hidden]="!usuarioSelecionado" style="flex-direction: column">
    <div *ngIf="usuarioSelecionado">
      <mat-card>
        <mat-card-title>
          <span *ngIf="adicionandoUsuario()">Adicionando Usuario</span>
          <span *ngIf="editandoUsuario()">Editando Usuario</span>
          <span *ngIf="!adicionandoUsuario() && !editandoUsuario()">Visualizando Usuario</span>

          <span style="float: right; padding-left: 20px">
          <a *ngIf="!editandoUsuario() && !adicionandoUsuario()" (click)="editarUsuario()">
            <mat-icon class="mouse-pointer">create</mat-icon>
          </a>
          <a *ngIf="!editandoUsuario() && !adicionandoUsuario()" (click)="removerUsuario()">
            <mat-icon class="mouse-pointer">delete</mat-icon>
          </a>
          <a *ngIf="adicionandoUsuario()" (click)="salvarNovoUsuario()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="editandoUsuario()" (click)="atualizarUsuario()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="adicionandoUsuario() || (!editandoUsuario() && !adicionandoUsuario())" (click)="cancelarAdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
          <a *ngIf="editandoUsuario()" (click)="cancelarEdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
        </span>
        </mat-card-title>
        <br/>

        <mat-card-content>
          <form #usuarioForm="ngForm">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" [disabled]="!adicionandoUsuario() && !editandoUsuario()"
                     [(ngModel)]="usuarioEditando.nome" name="nome" type="text" #nome="ngModel" required>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" [disabled]="!adicionandoUsuario() && !editandoUsuario()"
                     [(ngModel)]="usuarioEditando.email" name="email" type="email" #email="ngModel" required>
            </mat-form-field>
            <div [hidden]="!adicionandoUsuario() && !editandoUsuario()">
              <mat-form-field appearance="outline" style="width: 100%">
                <input matInput placeholder="Senha" [(ngModel)]="usuarioEditando.password" name="senha" type="password" #senha="ngModel" required>
                <mat-label>Senha</mat-label>
              </mat-form-field>
            </div>
            <button type="submit" hidden></button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="usuarioSelecionado" style="height: 20px"></div>

    <div [hidden]="!usuarioSelecionado">
      <mat-card>
        <mat-card-title>
          Roles do Usuario - {{usuarioSelecionado?.nome}}
        </mat-card-title>
        <br/>

        <mat-card-content>
          <div>
            <mat-table #rolesSort="matSort" [dataSource]="dataSourceRoles" matSortActive="selected" matSortDirection="desc" matSort class="mat-elevation-z8">
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                <mat-cell *matCellDef="let role" (click)="role.selected = !role.selected" class="mouse-pointer"> {{role.id}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                <mat-cell *matCellDef="let role" (click)="role.selected = !role.selected" class="mouse-pointer"> {{role.role}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="selected">
                <mat-header-cell *matHeaderCellDef style="justify-content: center" mat-sort-header> Selecione </mat-header-cell>
                <mat-cell *matCellDef="let role" style="justify-content: center">
                  <section style="width: 100%; text-align: center">
                    <mat-checkbox [(ngModel)]="role.selected"></mat-checkbox>
                  </section>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="getColumnsRoles()"></mat-header-row>
              <mat-row *matRowDef="let row; columns: getColumnsRoles();"></mat-row>
            </mat-table>
            <mat-paginator #paginatorRoles [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceRoles.data.length" showFirstLastButtons></mat-paginator>
          </div>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>
