<mat-card style="text-align: center">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="usuario.email" placeholder="email" name="email" type="text">
      </mat-form-field>

      <br/>

      <mat-form-field class="example-full-width">
        <mat-label>Senha</mat-label>
        <input matInput [(ngModel)]="usuario.password" placeholder="password" name="password" type="password">
      </mat-form-field>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="fazerLogin()" name="action" type="submit">
      Login
    </button>
  </mat-card-actions>
</mat-card>
