<mat-sidenav-container class="example-container" style="height: 100%" hasBackdrop>

  <mat-sidenav #sidenav mode="side">
    <mat-list>
      <mat-list-item>
        <a routerLink="/usuarios">Usuarios</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a routerLink="/entidades">Entidades</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" >
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Cotador Web</span>
    </mat-toolbar>

    <br/>

    <div class="flex-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
