<mat-sidenav-container class="example-container" style="height: 100%" hasBackdrop>
  <mat-sidenav (click)="sidenav.toggle()" #sidenav mode="side">
    <mat-list *ngIf="authService.isUsuarioAutenticado()">
      <mat-list-item>
        <mat-icon class="icon-spacer">table_rows</mat-icon>
        Menu
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/cotacao" class="mouse-pointer">
        <mat-icon class="icon-spacer">query_stats</mat-icon>
        Cotaçao
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/tabela" class="mouse-pointer">
        <mat-icon class="icon-spacer">table_chart</mat-icon>
        Tabela
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/produtos" class="mouse-pointer">
        <mat-icon class="icon-spacer">book</mat-icon>
        Produtos
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/hospitais" class="mouse-pointer">
        <mat-icon class="icon-spacer">local_hospital</mat-icon>
        Hospitais
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/laboratorios" class="mouse-pointer">
        <mat-icon class="icon-spacer">science</mat-icon>
        Laboratorios
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/entidades" class="mouse-pointer">
        <mat-icon class="icon-spacer">groups</mat-icon>
        Entidades
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/profissoes" class="mouse-pointer">
        <mat-icon class="icon-spacer">business_center</mat-icon>
        Profissoes
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/operadoras" class="mouse-pointer">
        <mat-icon class="icon-spacer">corporate_fare</mat-icon>
        Operadoras
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/administradoras" class="mouse-pointer">
        <mat-icon class="icon-spacer">business</mat-icon>
        Administradoras
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/opcoes" class="mouse-pointer">
        <mat-icon class="icon-spacer">label</mat-icon>
        Opcoes
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/usuarios" class="mouse-pointer">
        <mat-icon class="icon-spacer">manage_accounts</mat-icon>
        Usuarios
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/auditoria" class="mouse-pointer">
        <mat-icon class="icon-spacer">security</mat-icon>
        Auditoria
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span> Cotador SUPER </span>
      <span *ngIf="authService.isUsuarioAutenticado()" style="width: 100%">
        <button mat-icon-button style="float: right" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </span>
    </mat-toolbar>

    <br/>

    <div class="flex-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
