<div>
  <div>
    <mat-card>
      <mat-card-title>
        <span>
          Auditoria
        </span>
      </mat-card-title>
      <br/>

      <mat-card-content>

        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Logins">
            <ng-template matTabContent>
              <app-auditoria-login></app-auditoria-login>
            </ng-template>
          </mat-tab>
          <mat-tab label="Cotações">
            <ng-template matTabContent>
              <app-auditoria-cotacao></app-auditoria-cotacao>
            </ng-template>
          </mat-tab>
          <mat-tab label="Alterações">
            <ng-template matTabContent>
              <app-auditoria-alteracoes></app-auditoria-alteracoes>
            </ng-template>
          </mat-tab>
        </mat-tab-group>

      </mat-card-content>
    </mat-card>
  </div>
</div>
