<div class="flex-container">
  <div>
    <mat-card>
      <mat-card-title>
      <span>
        Lista de Opcoes
      </span>
        <span style="float: right">
        <a (click)="adicionar()">
          <mat-icon class="mouse-pointer">add</mat-icon>
        </a>
      </span>
      </mat-card-title>
      <br/>

      <mat-card-content>
        <div [style.width]="this.opcaoSelecionada ? (window.innerWidth * 0.70) + 'px' : (window.innerWidth * 0.95) + 'px'" style="overflow: auto;">
          <mat-table style="width: 7000px" [dataSource]="dataSourceOpcao" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.tabela.estado.sigla}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nomeTabela">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Tabela </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.tabela.nome}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="idadeMin">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Idade Min. </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.tabela.idadeMinima}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="idadeMax">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Idade Max. </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.tabela.idadeMaxima}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="qtdMinVidas">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Qtd. Min. Vidas </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.tabela.qtdMinVidas}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="qtdMinTitulares">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Qtd. Min. Titulares </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.tabela.qtdMinTitulares}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acomodacao">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Acomodacao </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.acomodacao}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="coparticipacao">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Coparticipacao </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.coparticipacao ? 'Com' : 'Sem'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="administradora">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Administradora </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.tabela.administradora.nome}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="operadora">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Operadora </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.tabela.operadora.nome}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nomeProduto">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Produto </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.produto.nome}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="abrangencia">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Abrangecia </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.produto.abrangencia}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="valor0a18anos">
              <mat-header-cell *matHeaderCellDef mat-sort-header> R$ 0 a 18 </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.valor0a18anos | currency: 'BRL'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="valor19a23anos">
              <mat-header-cell *matHeaderCellDef mat-sort-header> R$ 19 a 23 </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.valor19a23anos | currency: 'BRL'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="valor24a28anos">
              <mat-header-cell *matHeaderCellDef mat-sort-header> R$ 24 a 28 </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.valor24a28anos | currency: 'BRL'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="valor29a33anos">
              <mat-header-cell *matHeaderCellDef mat-sort-header> R$ 29 a 33 </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.valor29a33anos | currency: 'BRL'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="valor34a38anos">
              <mat-header-cell *matHeaderCellDef mat-sort-header> R$ 34 a 38 </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.valor34a38anos | currency: 'BRL'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="valor39a43anos">
              <mat-header-cell *matHeaderCellDef mat-sort-header> R$ 39 a 43 </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.valor39a43anos | currency: 'BRL'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="valor44a48anos">
              <mat-header-cell *matHeaderCellDef mat-sort-header> R$ 44 a 48 </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.valor44a48anos | currency: 'BRL'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="valor49a53anos">
              <mat-header-cell *matHeaderCellDef mat-sort-header> R$ 49 a 53 </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.valor49a53anos | currency: 'BRL'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="valor54a58anos">
              <mat-header-cell *matHeaderCellDef mat-sort-header> R$ 54 a 58 </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.valor54a58anos | currency: 'BRL'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="valor59ouMaisAnos">
              <mat-header-cell *matHeaderCellDef mat-sort-header> R$ 59 ou Mais </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.valor59ouMaisAnos | currency: 'BRL'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="reajuste">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Reajuste </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.tabela.reajuste}} </mat-cell>
            </ng-container>

            <ng-container [matColumnDef]="profissao.nome" *ngFor="let profissao of todasProfissoes">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{profissao.nome }} </mat-header-cell>
              <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{ getNomesEntidadesPorProfissao(opcao, profissao.nome) }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
        <mat-paginator [pageSizeOptions]="[25, 50, 100]" [length]="dataSourceOpcao.data.length" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="opcaoSelecionada" style="width: 10px"></div>

  <div *ngIf="opcaoSelecionada" style="flex-direction: column;">
    <div>
      <mat-card>
        <mat-card-title>
          <span *ngIf="adicionandoOpcao()">Adicionando Opcao</span>
          <span *ngIf="editandoOpcao()">Editando Opcao</span>
          <span *ngIf="!adicionandoOpcao() && !editandoOpcao()">Visualizando Opcao</span>

          <span style="float: right; padding-left: 20px">
          <a *ngIf="!editandoOpcao() && !adicionandoOpcao()" (click)="editarOpcao()">
            <mat-icon class="mouse-pointer">create</mat-icon>
          </a>
          <a *ngIf="!editandoOpcao() && !adicionandoOpcao()" (click)="copiarOpcao()">
            <mat-icon class="mouse-pointer">content_copy</mat-icon>
          </a>
          <a *ngIf="!editandoOpcao() && !adicionandoOpcao()" (click)="removerOpcao()">
            <mat-icon class="mouse-pointer">delete</mat-icon>
          </a>
          <a *ngIf="adicionandoOpcao()" (click)="salvarNovaOpcao()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="editandoOpcao()" (click)="atualizarOpcao()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="adicionandoOpcao()" (click)="cancelarAdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
          <a *ngIf="editandoOpcao()" (click)="cancelarEdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
        </span>
        </mat-card-title>
        <br/>

        <mat-card-content>
          <div style="display: flex; margin-bottom: 20px">
            <div style="width: 60%">
              <mat-radio-group (ngModelChange)="modelChangeCategoria($event);" [(ngModel)]="opcaoEditando.categoria" [disabled]="!adicionandoOpcao() && !editandoOpcao()">
                <mat-radio-button style="padding-right: 15px" *ngFor="let categoria of todasCategorias" [value]="categoria">
                  {{categoria}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div style="width: 40%; text-align: right">
              <mat-slide-toggle (ngModelChange)="modelChangeMEI($event)" [(ngModel)]="opcaoEditando.mei" [disabled]="!adicionandoOpcao() && !editandoOpcao()" labelPosition="before">Contempla MEI</mat-slide-toggle>
            </div>
          </div>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Estado</mat-label>
            <input matInput (ngModelChange)="modelChangeEstado()" [formControl]="estadoAutoCompleteControl" [matAutocomplete]="auto1" type="text">
            <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="estadoDisplayFn">
              <mat-option *ngFor="let estado of estadoFilteredOptions | async" [value]="estado">
                {{estado.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Administradora</mat-label>
            <input matInput (ngModelChange)="modelChangeAdministradora()" [formControl]="administradoraAutoCompleteControl" [matAutocomplete]="auto2" type="text">
            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" [displayWith]="administradoraDisplayFn">
              <mat-option *ngFor="let administradora of administradoraFilteredOptions | async" [value]="administradora">
                {{administradora.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Operadora</mat-label>
            <input matInput (ngModelChange)="modelChangeOperadora()" [formControl]="operadoraAutoCompleteControl" [matAutocomplete]="auto3" type="text">
            <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" [displayWith]="operadoraDisplayFn">
              <mat-option *ngFor="let operadora of operadoraFilteredOptions | async" [value]="operadora">
                {{operadora.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Tabela</mat-label>
            <input matInput (ngModelChange)="modelChangeTabela()" [formControl]="tabelaAutoCompleteControl" [matAutocomplete]="auto4" type="text">
            <mat-autocomplete autoActiveFirstOption #auto4="matAutocomplete" [displayWith]="tabelaDisplayFn">
              <mat-option *ngFor="let tabela of tabelaFilteredOptions | async" [value]="tabela">
                {{tabela.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Produto</mat-label>
            <input matInput [formControl]="produtoAutoCompleteControl" [matAutocomplete]="auto5" type="text">
            <mat-autocomplete autoActiveFirstOption #auto5="matAutocomplete" [displayWith]="produtoDisplayFn">
              <mat-option *ngFor="let produto of produtoFilteredOptions | async" [value]="produto">
                {{produto.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 0 a 18</mat-label>
              <input type="number" matInput placeholder="0 a 18" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor0a18anos">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 19 a 23</mat-label>
              <input type="number" matInput placeholder="19 a 23" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor19a23anos">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 24 a 28</mat-label>
              <input type="number" matInput placeholder="24 a 28" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor24a28anos">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 29 a 33</mat-label>
              <input type="number" matInput placeholder="29 a 33" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor29a33anos">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 34 a 38</mat-label>
              <input type="number" matInput placeholder="34 a 38" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor34a38anos">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 39 a 43</mat-label>
              <input type="number" matInput placeholder="39 a 43" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor39a43anos">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 44 a 48</mat-label>
              <input type="number" matInput placeholder="44 a 48" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor44a48anos">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 49 a 53</mat-label>
              <input type="number" matInput placeholder="49 a 53" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor49a53anos">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 54 a 58</mat-label>
              <input type="number" matInput placeholder="54 a 58" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor54a58anos">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 59 ou Mais</mat-label>
              <input type="number" matInput placeholder="59 ou mais" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor59ouMaisAnos">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 66%">
              <mat-label>Acomodacao</mat-label>
              <mat-select [(ngModel)]="opcaoEditando.acomodacao" [disabled]="!adicionandoOpcao() && !editandoOpcao()">
                <mat-option *ngFor="let acomodacao of todasAcomodacoes;" [value]="acomodacao">{{acomodacao}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div style="width: 100%; text-align: right;">
            <mat-slide-toggle [(ngModel)]="opcaoEditando.coparticipacao" [disabled]="!adicionandoOpcao() && !editandoOpcao()" labelPosition="before">Coparticipacao</mat-slide-toggle>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
