<div class="flex-container" style="width: 100%">
  <div style="width: 100%">
    <mat-card>
      <mat-card-title>
      <span>
        Lista de Opcoes
      </span>
        <span style="float: right">
        <a (click)="adicionar()">
          <mat-icon class="mouse-pointer">add</mat-icon>
        </a>
      </span>
      </mat-card-title>
      <br/>

      <mat-card-content>
        <mat-table [dataSource]="dataSourceOpcao" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let tabela" (click)="selecionaOpcao(tabela)" class="mouse-pointer"> {{tabela.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let tabela" (click)="selecionaOpcao(tabela)" class="mouse-pointer"> {{tabela.nome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
            <mat-cell *matCellDef="let tabela" (click)="selecionaOpcao(tabela)" class="mouse-pointer"> {{tabela.estado.sigla}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="operadora">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Operadora </mat-header-cell>
            <mat-cell *matCellDef="let tabela" (click)="selecionaOpcao(tabela)" class="mouse-pointer"> {{tabela.operadora.nome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="administradora">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Administradora </mat-header-cell>
            <mat-cell *matCellDef="let tabela" (click)="selecionaOpcao(tabela)" class="mouse-pointer"> {{tabela.administradora.nome}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[15, 50, 100]" [length]="dataSourceOpcao.data.length" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="opcaoSelecionada" style="width: 20px"></div>

  <div *ngIf="opcaoSelecionada" style="flex-direction: column">
    <div>
      <mat-card>
        <mat-card-title>
          <span *ngIf="adicionandoOpcao()">Adicionando Opcao</span>
          <span *ngIf="editandoOpcao()">Editando Opcao</span>
          <span *ngIf="!adicionandoOpcao() && !editandoOpcao()">Visualizando Opcao</span>

          <span style="float: right; padding-left: 20px">
          <a *ngIf="!editandoOpcao() && !adicionandoOpcao()" (click)="editarOpcao()">
            <mat-icon class="mouse-pointer">create</mat-icon>
          </a>
          <a *ngIf="!editandoOpcao() && !adicionandoOpcao()" (click)="removerOpcao()">
            <mat-icon class="mouse-pointer">delete</mat-icon>
          </a>
          <a *ngIf="adicionandoOpcao()" (click)="salvarNovaOpcao()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="editandoOpcao()" (click)="atualizarOpcao()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="adicionandoOpcao()" (click)="cancelarAdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
          <a *ngIf="editandoOpcao()" (click)="cancelarEdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
        </span>
        </mat-card-title>
        <br/>

        <mat-card-content>
          <div style="display: flex; margin-bottom: 20px">
            <div style="width: 50%">
              <mat-radio-group (ngModelChange)="carregaEstadoPorCategoria($event)" [(ngModel)]="opcaoEditando.categoria">
                <mat-radio-button style="padding-right: 15px" *ngFor="let categoria of todasCategorias" [value]="categoria">
                  {{categoria}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div style="width: 50%; text-align: right">
              <mat-slide-toggle (ngModelChange)="carregaOperadoraPorEstadoAndCategoriaAndAdministradoraAndMEI($event)" [(ngModel)]="opcaoEditando.mei" [disabled]="!adicionandoOpcao() && !editandoOpcao()" labelPosition="before">Contempla MEI</mat-slide-toggle>
            </div>
          </div>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Estado</mat-label>
            <input matInput (ngModelChange)="carregaAdministradoraPorEstadoAndCategoria()" [formControl]="estadoAutoCompleteControl" [matAutocomplete]="auto1" type="text">
            <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="estadoDisplayFn">
              <mat-option *ngFor="let estado of estadoFilteredOptions | async" [value]="estado">
                {{estado.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Administradora</mat-label>
            <input matInput (ngModelChange)="carregaOperadoraPorAdministradoraAndEstadoAndCategoria()" [formControl]="administradoraAutoCompleteControl" [matAutocomplete]="auto2" type="text">
            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" [displayWith]="administradoraDisplayFn">
              <mat-option *ngFor="let administradora of administradoraFilteredOptions | async" [value]="administradora">
                {{administradora.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Operadora</mat-label>
            <input matInput (ngModelChange)="carregaTabelaPorOperadoraAndAdministradoraAndEstadoAndCategoriaAndMEI()" [formControl]="operadoraAutoCompleteControl" [matAutocomplete]="auto3" type="text">
            <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" [displayWith]="operadoraDisplayFn">
              <mat-option *ngFor="let operadora of operadoraFilteredOptions | async" [value]="operadora">
                {{operadora.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Tabela</mat-label>
            <input matInput (ngModelChange)="carregaProdutosPorTabelaAndOperadoraAndAdministradoraAndEstadoAndCategoriaAndMEI()" [formControl]="tabelaAutoCompleteControl" [matAutocomplete]="auto4" type="text">
            <mat-autocomplete autoActiveFirstOption #auto4="matAutocomplete" [displayWith]="tabelaDisplayFn">
              <mat-option *ngFor="let tabela of tabelaFilteredOptions | async" [value]="tabela">
                {{tabela.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Produto</mat-label>
            <input matInput [formControl]="produtoAutoCompleteControl" [matAutocomplete]="auto5" type="text">
            <mat-autocomplete autoActiveFirstOption #auto5="matAutocomplete" [displayWith]="produtoDisplayFn">
              <mat-option *ngFor="let produto of produtoFilteredOptions | async" [value]="produto">
                {{produto.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 0 a 18</mat-label>
              <input type="number" matInput placeholder="0 a 18" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor0a18anos">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 19 a 23</mat-label>
              <input type="number" matInput placeholder="19 a 23" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor19a23anos">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 24 a 28</mat-label>
              <input type="number" matInput placeholder="24 a 28" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor24a28anos">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 29 a 33</mat-label>
              <input type="number" matInput placeholder="29 a 33" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor29a33anos">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 34 a 38</mat-label>
              <input type="number" matInput placeholder="34 a 38" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor34a38anos">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 39 a 43</mat-label>
              <input type="number" matInput placeholder="39 a 43" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor39a43anos">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 44 a 48</mat-label>
              <input type="number" matInput placeholder="44 a 48" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor44a48anos">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 49 a 53</mat-label>
              <input type="number" matInput placeholder="49 a 53" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor49a53anos">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 54 a 58</mat-label>
              <input type="number" matInput placeholder="54 a 58" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor54a58anos">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>R$ 59 ou Mais</mat-label>
              <input type="number" matInput placeholder="59 ou mais" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                     [(ngModel)]="opcaoEditando.valor59ouMaisAnos">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 66%">
              <mat-label>Acomodacao</mat-label>
              <mat-select [(ngModel)]="opcaoSelecionada.acomodacao" [disabled]="!adicionandoOpcao() && !editandoOpcao()">
                <mat-option *ngFor="let acomodacao of todasAcomodacoes;" [value]="acomodacao">{{acomodacao}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div style="width: 100%; text-align: right;">
            <mat-slide-toggle [(ngModel)]="opcaoEditando.coparticipacao" [disabled]="!adicionandoOpcao() && !editandoOpcao()" labelPosition="before">Coparticipacao</mat-slide-toggle>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
