.mat-footer-row,
.mat-header-row,
.mat-row {
  display: inline-flex;
  min-width: 100%;
  //border-bottom-width: 0px;
}

.mat-header-cell {
  //color: white;
  //background-color: black;
  height: 56px;
}

.mat-column-id {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 2% !important;
  width: 2% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-estado {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 2% !important;
  width: 2% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-tabela {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-idadeMin {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 3% !important;
  width: 3% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-idadeMax {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 3% !important;
  width: 3% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-qtdMinVidas {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 3.5% !important;
  width: 3.5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-qtdMinTitulares {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 4% !important;
  width: 4% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}



.mat-column-profissao {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

