<div class="flex-container" xmlns="http://www.w3.org/1999/html">
  <div>
    <mat-card>
      <mat-card-title>
        <span>
          Lista de Opcoes
        </span>
        <span style="float: right">
          <a (click)="adicionar()">
            <mat-icon class="mouse-pointer">add</mat-icon>
          </a>
        </span>
      </mat-card-title>
      <br/>

      <mat-card-content>
        <mat-table [dataSource]="dataSourceOpcao" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.tipo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="descricao">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Descricao </mat-header-cell>
            <mat-cell *matCellDef="let opcao" (click)="selecionaOpcao(opcao)" class="mouse-pointer"> {{opcao.descricao}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[15, 50, 100]" [length]="dataSourceOpcao.data.length" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="opcaoSelecionado" style="width: 20px"></div>

  <div *ngIf="opcaoSelecionado" style="flex-direction: column">
    <div>
      <mat-card>
        <mat-card-title>
          <span *ngIf="adicionandoOpcao()">Adicionando Opcao</span>
          <span *ngIf="editandoOpcao()">Editando Opcao</span>
          <span *ngIf="!adicionandoOpcao() && !editandoOpcao()">Visualizando Opcao</span>

          <span style="float: right; padding-left: 20px">
          <a *ngIf="!editandoOpcao() && !adicionandoOpcao()" (click)="editarOpcao()">
            <mat-icon class="mouse-pointer">create</mat-icon>
          </a>
          <a *ngIf="!editandoOpcao() && !adicionandoOpcao()" (click)="removerOpcao()">
            <mat-icon class="mouse-pointer">delete</mat-icon>
          </a>
          <a *ngIf="adicionandoOpcao()" (click)="salvarNovoOpcao()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="editandoOpcao()" (click)="atualizarOpcao()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="adicionandoOpcao()" (click)="cancelarAdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
          <a *ngIf="editandoOpcao()" (click)="cancelarEdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
        </span>
        </mat-card-title>
        <br/>

        <mat-card-content>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Tipo</mat-label>
            <input matInput placeholder="Tipo" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                   [(ngModel)]="opcaoEditando.tipo">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Descricao</mat-label>
            <input matInput placeholder="Descricao" [disabled]="!adicionandoOpcao() && !editandoOpcao()"
                   [(ngModel)]="opcaoEditando.descricao">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
