<div class="flex-container">
  <mat-card>
    <mat-card-title>
      <span>
        Lista de Produtos
      </span>
      <span style="float: right">
        <a (click)="adicionar()"><mat-icon class="mouse-pointer">add</mat-icon></a>
      </span>
      <span style="float: right">
        <a (click)="filtrar()"><mat-icon class="mouse-pointer">search</mat-icon></a>
      </span>
      </mat-card-title>
    <br/>

    <mat-card-content>
      <div [style.width]="this.produtoSelecionado || filtrandoProduto() ? (window.innerWidth * 0.70) + 'px' : (window.innerWidth * 0.95) + 'px'" style="overflow: auto;">
        <mat-table style="width: 5000px" #sortProduto="matSort" [dataSource]="dataSourceProduto" matSort>
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let produto" [style.color]="'white'" [style.background-color]="produto.operadora.cor" (click)="selecionaProduto(produto)" class="mouse-pointer"> {{produto.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nome" sticky>
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let produto" [style.color]="'white'" [style.background-color]="produto.operadora.cor" (click)="selecionaProduto(produto)" class="mouse-pointer"> {{produto.nome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="abrangencia">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Abrangencia </mat-header-cell>
            <mat-cell *matCellDef="let produto" [style.color]="'white'" [style.background-color]="produto.operadora.cor" (click)="selecionaProduto(produto)" class="mouse-pointer"> {{produto.abrangencia}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="operadora">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Operadora </mat-header-cell>
            <mat-cell *matCellDef="let produto" [style.color]="'white'" [style.background-color]="produto.operadora.cor" (click)="selecionaProduto(produto)" class="mouse-pointer"> {{produto.operadora.nome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="reembolso">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Reembolso </mat-header-cell>
            <mat-cell *matCellDef="let produto" [style.color]="'white'" [style.background-color]="produto.operadora.cor" (click)="selecionaProduto(produto)" class="mouse-pointer"> {{produto.reembolso | currency:'BRL':'symbol':'0.2'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="valorProntoSocorro">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Pronto Socorro </mat-header-cell>
            <mat-cell *matCellDef="let produto" [style.color]="'white'" [style.background-color]="produto.operadora.cor" (click)="selecionaProduto(produto)" class="mouse-pointer">
              <span style="padding-right: 10px;">
                {{produto.coparticipacao.percentualProntoSocorro}}%
              </span> |
              <span style="padding-left: 10px;">
                {{produto.coparticipacao.valorProntoSocorro}}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="valorConsulta">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Consulta </mat-header-cell>
            <mat-cell *matCellDef="let produto" [style.color]="'white'" [style.background-color]="produto.operadora.cor" (click)="selecionaProduto(produto)" class="mouse-pointer">
              <span style="padding-right: 10px;">
                {{produto.coparticipacao.percentualConsulta}}%
              </span> |
              <span style="padding-left: 10px;">
                {{produto.coparticipacao.valorConsulta}}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="valorExameSimples">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Exame Simples </mat-header-cell>
            <mat-cell *matCellDef="let produto" [style.color]="'white'" [style.background-color]="produto.operadora.cor" (click)="selecionaProduto(produto)" class="mouse-pointer">
              <span style="padding-right: 10px;">
                {{produto.coparticipacao.percentualExameSimples}}%
              </span> |
              <span style="padding-left: 10px;">
                {{produto.coparticipacao.valorExameSimples}}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="valorExameEspecial">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Exame Especial </mat-header-cell>
            <mat-cell *matCellDef="let produto" [style.color]="'white'" [style.background-color]="produto.operadora.cor" (click)="selecionaProduto(produto)" class="mouse-pointer">
              <span style="padding-right: 10px;">
                {{produto.coparticipacao.percentualExameEspecial}}%
              </span> |
              <span style="padding-left: 10px;">
                {{produto.coparticipacao.valorExameEspecial}}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="valorInternacao">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Internacao </mat-header-cell>
            <mat-cell *matCellDef="let produto" [style.color]="'white'" [style.background-color]="produto.operadora.cor" (click)="selecionaProduto(produto)" class="mouse-pointer">
              <span style="padding-right: 10px;">
                {{produto.coparticipacao.percentualInternacao}}%
              </span> |
              <span style="padding-left: 10px;">
                {{produto.coparticipacao.valorInternacao}}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container [matColumnDef]="laboratorio.nome" *ngFor="let laboratorio of todosLaboratorios" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <div style="flex-direction: column">
                <div>{{laboratorio.local}}</div>
                <div>{{laboratorio.nome}}</div>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let produto" [style.color]="'white'" [style.background-color]="produto.operadora.cor" (click)="selecionaProduto(produto)" class="mouse-pointer">
              <mat-checkbox [disabled]="true" [ngModel]="verificaSeLaboratorioSelecionado(produto, laboratorio)"></mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="totalLaboratorios">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Qtd. Laboratorios </mat-header-cell>
            <mat-cell *matCellDef="let produto" [style.color]="'white'" [style.background-color]="produto.operadora.cor" (click)="selecionaProduto(produto)" class="mouse-pointer">
              {{produto.laboratorios.length}}
            </mat-cell>

          <ng-container [matColumnDef]="hospital.nome" *ngFor="let hospital of todosHospitais" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <div style="flex-direction: column">
                <div>{{hospital.local}}</div>
                <div>{{hospital.nome}}</div>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let produto" [style.color]="'white'" [style.background-color]="produto.operadora.cor" (click)="selecionaProduto(produto)" class="mouse-pointer">
              <mat-checkbox [disabled]="true" [ngModel]="verificaSeHospitalSelecionado(produto, hospital)"></mat-checkbox>
            </mat-cell>
          </ng-container>
          </ng-container>

          <ng-container matColumnDef="totalHospitais">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Qtd. Hospitais </mat-header-cell>
            <mat-cell *matCellDef="let produto" [style.color]="'white'" [style.background-color]="produto.operadora.cor" (click)="selecionaProduto(produto)" class="mouse-pointer">
              {{produto.hospitais.length}}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <mat-paginator #paginatorProduto [pageSizeOptions]="[20, 50, 100]" [length]="dataSourceProduto.data.length" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>

  <div *ngIf="produtoSelecionado || filtrandoProduto()" style="width: 10px"></div>

  <div *ngIf="filtrandoProduto()" [style.width]="window.innerWidth * 0.25 + 'px'" style="flex-direction: column">
    <div>
      <mat-card>
        <mat-card-title>
          <span>Filtrando Produto</span>

          <span style="float: right; padding-left: 20px">
          <a (click)="cancelarFiltro()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
        </span>
        </mat-card-title>
        <br/>

        <mat-card-content>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Situação</mat-label>
            <mat-select (ngModelChange)="filtraProduto()" [(ngModel)]="filtroProduto.ativo">
              <mat-option [value]="''">Todos</mat-option>
              <mat-option [value]="true">Ativos</mat-option>
              <mat-option [value]="false">Inativos</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Nome</mat-label>
            <input matInput (ngModelChange)="filtraProduto()" placeholder="Nome" [(ngModel)]="filtroProduto.nome">
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Operadoras</mat-label>
            <mat-select (ngModelChange)="filtraProduto()" [(ngModel)]="filtroProduto.operadoras" multiple>
              <mat-option *ngFor="let operadora of todasOperadoras;" [value]="operadora">{{operadora.nome}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Abrangencia</mat-label>
            <mat-select (ngModelChange)="filtraProduto()" [(ngModel)]="filtroProduto.abrangencia">
              <mat-option [value]="''">Todas</mat-option>
              <mat-option *ngFor="let abrangencia of todasAbrangencias;" [value]="abrangencia">{{abrangencia}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Laboratorios</mat-label>
            <mat-select (ngModelChange)="filtraProduto()" [(ngModel)]="filtroProduto.laboratorios" multiple>
              <mat-option *ngFor="let laboratorio of todosLaboratorios;" [value]="laboratorio">{{laboratorio.nome}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Hospitais</mat-label>
            <mat-select (ngModelChange)="filtraProduto()" [(ngModel)]="filtroProduto.hospitais" multiple>
              <mat-option *ngFor="let hospital of todosHospitais;" [value]="hospital">{{hospital.nome}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <mat-form-field appearance="outline" style="width: 30%">
              <mat-label>Tipo Filtro</mat-label>
              <mat-select (ngModelChange)="filtraProduto()" [(ngModel)]="filtroProduto.tipoFiltro">
                <mat-option [value]="'<'"><</mat-option>
                <mat-option [value]="'='">=</mat-option>
                <mat-option [value]="'>'">></mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 70%">
              <mat-label>Reembolso</mat-label>
              <input matInput [disabled]="!filtroProduto.tipoFiltro" (ngModelChange)="filtraProduto()" [(ngModel)]="filtroProduto.reembolso" type="number" placeholder="Reembolso">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>Exame Simples</mat-label>
              <input matInput [disabled]="!filtroProduto.tipoFiltro" (ngModelChange)="filtraProduto()" [(ngModel)]="filtroProduto.coparticipacao.valorExameSimples" type="number" placeholder="Exame Simples">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>Exame Especial</mat-label>
              <input matInput [disabled]="!filtroProduto.tipoFiltro" (ngModelChange)="filtraProduto()" [(ngModel)]="filtroProduto.coparticipacao.valorExameEspecial" type="number" placeholder="Exame Especial">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>Pronto Socorro</mat-label>
              <input matInput [disabled]="!filtroProduto.tipoFiltro" (ngModelChange)="filtraProduto()" [(ngModel)]="filtroProduto.coparticipacao.valorProntoSocorro" type="number" placeholder="Pronto Socorro">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 33%">
              <mat-label>Consulta</mat-label>
              <input matInput [disabled]="!filtroProduto.tipoFiltro" (ngModelChange)="filtraProduto()" [(ngModel)]="filtroProduto.coparticipacao.valorConsulta" type="number" placeholder="Consulta">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 33%">
                <mat-label>Internaçao</mat-label>
              <input matInput [disabled]="!filtroProduto.tipoFiltro" (ngModelChange)="filtraProduto()" [(ngModel)]="filtroProduto.coparticipacao.valorInternacao" type="number" placeholder="Internaçao">
            </mat-form-field>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div *ngIf="produtoSelecionado" [style.width]="window.innerWidth * 0.25 + 'px'" style="flex-direction: column">
    <div>
      <mat-card>
        <mat-card-title>
          <span *ngIf="adicionandoProduto()">Adicionando Produto</span>
          <span *ngIf="editandoProduto()">Editando Produto</span>
          <span *ngIf="!adicionandoProduto() && !editandoProduto()">Visualizando Produto</span>

          <span style="float: right; padding-left: 20px">
          <a *ngIf="!editandoProduto() && !adicionandoProduto()" (click)="editarProduto()">
            <mat-icon class="mouse-pointer">create</mat-icon>
          </a>
          <a *ngIf="!editandoProduto() && !adicionandoProduto()" (click)="copiarProduto()">
            <mat-icon class="mouse-pointer">content_copy</mat-icon>
          </a>
          <a *ngIf="!editandoProduto() && !adicionandoProduto()" (click)="removerProduto()">
            <mat-icon class="mouse-pointer">delete</mat-icon>
          </a>
          <a *ngIf="adicionandoProduto()" (click)="salvarNovoProduto()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="editandoProduto()" (click)="atualizarProduto()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="adicionandoProduto()" (click)="cancelarAdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
          <a *ngIf="editandoProduto()" (click)="cancelarEdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
        </span>
        </mat-card-title>
        <br/>

        <mat-card-content>
          <form #formProduto="ngForm" (submit)="onSubmit()">
            <div style="float: right; padding-bottom: 10px">
              <mat-slide-toggle [(ngModel)]="produtoEditando.ativo" name="ativo" [disabled]="!adicionandoProduto() && !editandoProduto()" labelPosition="before">Ativo</mat-slide-toggle>
            </div>

            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" name="nome" [disabled]="!adicionandoProduto() && !editandoProduto()"
                     [(ngModel)]="produtoEditando.nome" required>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Operadora</mat-label>
              <input matInput name="operadora" [formControl]="operadoraAutoCompleteControl" [matAutocomplete]="auto" type="text" required>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let operadora of filteredOptions | async" [value]="operadora">
                  {{operadora.nome}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Abrangência</mat-label>
              <mat-select name="abrangencia" [(ngModel)]="produtoEditando.abrangencia" [disabled]="!adicionandoProduto() && !editandoProduto()" required>
                <mat-option *ngFor="let abrangencia of todasAbrangencias;" [value]="abrangencia">{{abrangencia}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Reembolso</mat-label>
              <input matInput name="reembolso" type="number" placeholder="Reembolso" [disabled]="!adicionandoProduto() && !editandoProduto()"
                     [(ngModel)]="produtoEditando.reembolso">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Observacoes</mat-label>
              <textarea matInput name="observacao" placeholder="Reembolso" [disabled]="!adicionandoProduto() && !editandoProduto()"
                        [(ngModel)]="produtoEditando.observacao" maxlength="100"></textarea>
            </mat-form-field>
            <button type="submit" hidden></button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="produtoSelecionado" [style.width]="window.innerWidth + 'px'" style="padding-top: 10px">
  <mat-card>
    <mat-card-title>
      Relacionamentos - {{produtoSelecionado.nome}}
      <div style="text-align: right; padding-bottom: 10px;">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
      </div>
    </mat-card-title>
    <mat-card-content>

      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>attach_money</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              Coparticipacoes
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="flex-container" style="flex-direction: row">
            <mat-card>
              <mat-card-title>Pronto Socorro</mat-card-title>
              <mat-card-content>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Percentual</mat-label>
                    <input matInput placeholder="Percentual" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.percentualProntoSocorro">
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Limite R$</mat-label>
                    <input matInput placeholder="Limite R$" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.valorProntoSocorro">
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card style="margin-left: 20px">
              <mat-card-title>Consulta</mat-card-title>
              <mat-card-content>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Percentual</mat-label>
                    <input matInput placeholder="Percentual" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.percentualConsulta">
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Limite R$</mat-label>
                    <input matInput placeholder="Limite R$" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.valorConsulta">
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card style="margin-left: 20px">
              <mat-card-title>Exame Simples</mat-card-title>
              <mat-card-content>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Percentual</mat-label>
                    <input matInput placeholder="Percentual" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.percentualExameSimples">
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Limite R$</mat-label>
                    <input matInput placeholder="Limite R$" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.valorExameSimples">
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card style="margin-left: 20px">
              <mat-card-title>Exame Especial</mat-card-title>
              <mat-card-content>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Percentual</mat-label>
                    <input matInput placeholder="Percentual" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.percentualExameEspecial">
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Limite R$</mat-label>
                    <input matInput placeholder="Limite R$" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.valorExameEspecial">
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card style="margin-left: 20px">
              <mat-card-title>Internacao</mat-card-title>
              <mat-card-content>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Percentual</mat-label>
                    <input matInput placeholder="Percentual" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.percentualInternacao">
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Limite R$</mat-label>
                    <input matInput placeholder="Limite R$" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.valorInternacao">
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-expansion-panel>

        <div class="flex-container" style="flex-direction: row; width: 100%; margin-top: 5px">
          <div style="width: 50%">
            <mat-expansion-panel (opened)="carregaTabelaLaboratorio(dataSourceLaboratorio.data)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>science</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                Laboratorios
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex-container" style="flex-direction: row">
              <mat-card style="width: 100%">
                <mat-card-content>
                  <div [hidden]="editandoProduto() || adicionandoProduto()">
                    <mat-table #sortLaboratorio="matSort" [dataSource]="dataSourceLaboratorio" matSort class="mat-elevation-z8">
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio"> {{laboratorio.id}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="nome">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio"> {{laboratorio.nome}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="local">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Local </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio"> {{laboratorio.local}} </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="['id', 'nome', 'local']"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: ['id', 'nome', 'local'];"></mat-row>
                    </mat-table>
                    <mat-paginator #paginatorLaboratorio [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceLaboratorio.data.length" showFirstLastButtons></mat-paginator>
                  </div>
                  <div [hidden]="!editandoProduto() && !adicionandoProduto()">
                    <mat-table #sortLaboratorioEditando="matSort" [dataSource]="dataSourceLaboratorio" matSort class="mat-elevation-z8">
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio" (click)="laboratorio.selected = !laboratorio.selected" class="mouse-pointer"> {{laboratorio.id}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="nome">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio" (click)="laboratorio.selected = !laboratorio.selected" class="mouse-pointer"> {{laboratorio.nome}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="local">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Local </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio" (click)="laboratorio.selected = !laboratorio.selected" class="mouse-pointer"> {{laboratorio.local}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="selected">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Selecione </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio">
                          <section>
                            <mat-checkbox [(ngModel)]="laboratorio.selected"></mat-checkbox>
                          </section>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="['id', 'nome', 'local', 'selected']"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: ['id', 'nome', 'local', 'selected'];"></mat-row>

                    </mat-table>
                    <mat-paginator #paginatorLaboratorioEditando [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceLaboratorio.data.length" showFirstLastButtons></mat-paginator>
                  </div>
                  </mat-card-content>
              </mat-card>
            </div>
          </mat-expansion-panel>
          </div>
          <div style="width: 50%; padding-left: 10px">
            <mat-expansion-panel (opened)="carregaTabelaHospital(dataSourceHospital.data)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>local_hospital</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                Hospitais
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex-container" style="flex-direction: row">
              <mat-card style="width: 100%">
                <mat-card-content>
                  <div [hidden]="editandoProduto() || adicionandoProduto()">
                    <mat-table #sortHospital="matSort" [dataSource]="dataSourceHospital" matSort class="mat-elevation-z8">
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                        <mat-cell *matCellDef="let hospital"> {{hospital.id}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="nome">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                        <mat-cell *matCellDef="let hospital"> {{hospital.nome}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="local">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Local </mat-header-cell>
                        <mat-cell *matCellDef="let hospital"> {{hospital.local}} </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="['id', 'nome', 'local']"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: ['id', 'nome', 'local'];"></mat-row>

                    </mat-table>
                    <mat-paginator #paginatorHospital [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceHospital.data.length" showFirstLastButtons></mat-paginator>
                  </div>
                  <div [hidden]="!editandoProduto() && !adicionandoProduto()">
                    <mat-table #sortHospitalEditando="matSort" [dataSource]="dataSourceHospital" matSort class="mat-elevation-z8">
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                        <mat-cell *matCellDef="let hospital" (click)="hospital.selected = !hospital.selected" class="mouse-pointer"> {{hospital.id}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="nome">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                        <mat-cell *matCellDef="let hospital" (click)="hospital.selected = !hospital.selected" class="mouse-pointer"> {{hospital.nome}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="local">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Local </mat-header-cell>
                        <mat-cell *matCellDef="let hospital" (click)="hospital.selected = !hospital.selected" class="mouse-pointer"> {{hospital.local}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="selected">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Selecione </mat-header-cell>
                        <mat-cell *matCellDef="let hospital">
                          <section>
                            <mat-checkbox [(ngModel)]="hospital.selected"></mat-checkbox>
                          </section>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="['id', 'nome', 'local', 'selected']"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: ['id', 'nome', 'local', 'selected'];"></mat-row>

                    </mat-table>
                    <mat-paginator #paginatorHospitalEditando [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceHospital.data.length" showFirstLastButtons></mat-paginator>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-expansion-panel>
          </div>
        </div>

      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
