<div class="flex-container" style="width: 100%">
  <div style="width: 100%">
    <mat-card>
      <mat-card-title>
      <span>
        Lista de Produtos
      </span>
        <span style="float: right">
        <a (click)="adicionar()">
          <mat-icon class="mouse-pointer">add</mat-icon>
        </a>
      </span>
      </mat-card-title>
      <br/>

      <mat-card-content>
        <mat-table #sortProduto="matSort" [dataSource]="dataSourceProduto" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let produto" (click)="selecionaProduto(produto)" class="mouse-pointer"> {{produto.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let produto" (click)="selecionaProduto(produto)" class="mouse-pointer"> {{produto.nome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="abrangencia">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Abrangencia </mat-header-cell>
            <mat-cell *matCellDef="let produto" (click)="selecionaProduto(produto)" class="mouse-pointer"> {{produto.abrangencia}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="operadora">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Operadora </mat-header-cell>
            <mat-cell *matCellDef="let produto" (click)="selecionaProduto(produto)" class="mouse-pointer"> {{produto.operadora.nome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="reembolso">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Reembolso </mat-header-cell>
            <mat-cell *matCellDef="let produto" (click)="selecionaProduto(produto)" class="mouse-pointer"> {{produto.reembolso}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginatorProduto [pageSizeOptions]="[15, 50, 100]" [length]="dataSourceProduto.data.length" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="produtoSelecionado" style="width: 20px"></div>

  <div *ngIf="produtoSelecionado" style="flex-direction: column">
    <div>
      <mat-card>
        <mat-card-title>
          <span *ngIf="adicionandoProduto()">Adicionando Produto</span>
          <span *ngIf="editandoProduto()">Editando Produto</span>
          <span *ngIf="!adicionandoProduto() && !editandoProduto()">Visualizando Produto</span>

          <span style="float: right; padding-left: 20px">
          <a *ngIf="!editandoProduto() && !adicionandoProduto()" (click)="editarProduto()">
            <mat-icon class="mouse-pointer">create</mat-icon>
          </a>
          <a *ngIf="!editandoProduto() && !adicionandoProduto()" (click)="removerProduto()">
            <mat-icon class="mouse-pointer">delete</mat-icon>
          </a>
          <a *ngIf="adicionandoProduto()" (click)="salvarNovoProduto()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="editandoProduto()" (click)="atualizarProduto()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="adicionandoProduto()" (click)="cancelarAdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
          <a *ngIf="editandoProduto()" (click)="cancelarEdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
        </span>
        </mat-card-title>
        <br/>

        <mat-card-content>
          <div style="float: right; padding-bottom: 10px">
            <mat-slide-toggle [(ngModel)]="produtoEditando.ativo" [disabled]="!adicionandoProduto() && !editandoProduto()" labelPosition="before"></mat-slide-toggle>
          </div>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" [disabled]="!adicionandoProduto() && !editandoProduto()"
                   [(ngModel)]="produtoEditando.nome">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Operadora</mat-label>
            <input matInput [formControl]="autoCompleteControl" [matAutocomplete]="auto" type="text">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let operadora of filteredOptions | async" [value]="operadora">
                {{operadora.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
<!--          <mat-form-field appearance="outline" style="width: 100%">-->
<!--            <mat-label>Operadora</mat-label>-->
<!--            <mat-select [compareWith]="operadoraComparator" [(value)]="produtoEditando.operadora" [disabled]="!adicionandoProduto() && !editandoProduto()">-->
<!--              <mat-option></mat-option>-->
<!--              <mat-option *ngFor="let operadora of todasOperadoras;" [value]="operadora">{{operadora.nome}}</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Abrangencia</mat-label>
            <input matInput placeholder="Abrangencia" [disabled]="!adicionandoProduto() && !editandoProduto()"
                   [(ngModel)]="produtoEditando.abrangencia">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Reembolso</mat-label>
            <input matInput placeholder="Reembolso" [disabled]="!adicionandoProduto() && !editandoProduto()"
                   [(ngModel)]="produtoEditando.reembolso">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="produtoSelecionado" style="padding-top: 10px">
  <mat-card>
    <mat-card-title>
      Relacionamentos - {{produtoSelecionado.nome}}
      <div style="text-align: right; padding-bottom: 10px;">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
      </div>
    </mat-card-title>
    <mat-card-content>

      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>attach_money</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              Coparticipacoes
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="flex-container" style="flex-direction: row">
            <mat-card>
              <mat-card-title>Pronto Socorro</mat-card-title>
              <mat-card-content>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Percentual</mat-label>
                    <input matInput placeholder="Abrangencia" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.percentualProntoSocorro">
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Limite R$</mat-label>
                    <input matInput placeholder="Abrangencia" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.valorProntoSocorro">
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card style="margin-left: 20px">
              <mat-card-title>Consulta</mat-card-title>
              <mat-card-content>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Percentual</mat-label>
                    <input matInput placeholder="Abrangencia" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.percentualConsulta">
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Limite R$</mat-label>
                    <input matInput placeholder="Abrangencia" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.valorConsulta">
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card style="margin-left: 20px">
              <mat-card-title>Exame Simples</mat-card-title>
              <mat-card-content>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Percentual</mat-label>
                    <input matInput placeholder="Abrangencia" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.percentualExameSimples">
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Limite R$</mat-label>
                    <input matInput placeholder="Abrangencia" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.valorExameSimples">
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card style="margin-left: 20px">
              <mat-card-title>Exame Especial</mat-card-title>
              <mat-card-content>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Percentual</mat-label>
                    <input matInput placeholder="Abrangencia" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.percentualExameEspecial">
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Limite R$</mat-label>
                    <input matInput placeholder="Abrangencia" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.valorExameEspecial">
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card style="margin-left: 20px">
              <mat-card-title>Internacao</mat-card-title>
              <mat-card-content>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Percentual</mat-label>
                    <input matInput placeholder="Abrangencia" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.percentualInternacao">
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Limite R$</mat-label>
                    <input matInput placeholder="Abrangencia" [disabled]="!editandoProduto() && !adicionandoProduto()"
                           [(ngModel)]="produtoEditando.coparticipacao.valorInternacao">
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-expansion-panel>

        <div class="flex-container" style="flex-direction: row; width: 100%; margin-top: 5px">
          <div style="width: 50%">
            <mat-expansion-panel (opened)="carregaTabelaLaboratorio(dataSourceLaboratorio.data)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>science</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                Laboratorios
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex-container" style="flex-direction: row">
              <mat-card style="width: 100%">
                <mat-card-content>
                  <div [hidden]="editandoProduto() || adicionandoProduto()">
                    <mat-table #sortLaboratorio="matSort" [dataSource]="dataSourceLaboratorio" matSort class="mat-elevation-z8">
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio"> {{laboratorio.id}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="nome">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio"> {{laboratorio.nome}} </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="['id', 'nome']"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: ['id', 'nome'];"></mat-row>

                    </mat-table>
                    <mat-paginator #paginatorLaboratorio [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceLaboratorio.data.length" showFirstLastButtons></mat-paginator>
                  </div>
                  <div [hidden]="!editandoProduto() && !adicionandoProduto()">
                    <mat-table #sortLaboratorioEditando="matSort" [dataSource]="dataSourceLaboratorio" matSort class="mat-elevation-z8">
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio" (click)="laboratorio.selected = !laboratorio.selected" class="mouse-pointer"> {{laboratorio.id}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="nome">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio" (click)="laboratorio.selected = !laboratorio.selected" class="mouse-pointer"> {{laboratorio.nome}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="selected">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center"> Selecione </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio">
                          <section style="width: 100%; text-align: center">
                            <mat-checkbox [(ngModel)]="laboratorio.selected"></mat-checkbox>
                          </section>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="['id', 'nome', 'selected']"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: ['id', 'nome', 'selected'];"></mat-row>

                    </mat-table>
                    <mat-paginator #paginatorLaboratorioEditando [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceLaboratorio.data.length" showFirstLastButtons></mat-paginator>
                  </div>
                  </mat-card-content>
              </mat-card>
            </div>
          </mat-expansion-panel>
          </div>
          <div style="width: 50%; padding-left: 10px">
            <mat-expansion-panel (opened)="carregaTabelaHospital(dataSourceHospital.data)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>local_hospital</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                Hospitais
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex-container" style="flex-direction: row">
              <mat-card style="width: 100%">
                <mat-card-content>
                  <div [hidden]="editandoProduto() || adicionandoProduto()">
                    <mat-table #sortHospital="matSort" [dataSource]="dataSourceHospital" matSort class="mat-elevation-z8">
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio"> {{laboratorio.id}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="nome">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio"> {{laboratorio.nome}} </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="['id', 'nome']"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: ['id', 'nome'];"></mat-row>

                    </mat-table>
                    <mat-paginator #paginatorHospital [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceHospital.data.length" showFirstLastButtons></mat-paginator>
                  </div>
                  <div [hidden]="!editandoProduto() && !adicionandoProduto()">
                    <mat-table #sortHospitalEditando="matSort" [dataSource]="dataSourceHospital" matSort class="mat-elevation-z8">
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio" (click)="laboratorio.selected = !laboratorio.selected" class="mouse-pointer"> {{laboratorio.id}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="nome">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio" (click)="laboratorio.selected = !laboratorio.selected" class="mouse-pointer"> {{laboratorio.nome}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="selected">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center"> Selecione </mat-header-cell>
                        <mat-cell *matCellDef="let laboratorio">
                          <section style="width: 100%; text-align: center">
                            <mat-checkbox [(ngModel)]="laboratorio.selected"></mat-checkbox>
                          </section>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="['id', 'nome', 'selected']"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: ['id', 'nome', 'selected'];"></mat-row>

                    </mat-table>
                    <mat-paginator #paginatorHospitalEditando [pageSizeOptions]="[10, 50, 100]" [length]="dataSourceHospital.data.length" showFirstLastButtons></mat-paginator>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-expansion-panel>
          </div>
        </div>

      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
