<div class="flex-container" style="width: 100%">
  <div style="width: 100%">
    <mat-card>
      <mat-card-title>
      <span>
        Lista de Tabelas
      </span>
        <span style="float: right">
        <a (click)="adicionar()">
          <mat-icon class="mouse-pointer">add</mat-icon>
        </a>
      </span>
      </mat-card-title>
      <br/>

      <mat-card-content>
        <mat-table #sortTabela="matSort" [dataSource]="dataSourceTabela" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let tabela" (click)="selecionaTabela(tabela)" class="mouse-pointer"> {{tabela.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let tabela" (click)="selecionaTabela(tabela)" class="mouse-pointer"> {{tabela.nome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
            <mat-cell *matCellDef="let tabela" (click)="selecionaTabela(tabela)" class="mouse-pointer"> {{tabela.estado.sigla}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="operadora">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Operadora </mat-header-cell>
            <mat-cell *matCellDef="let tabela" (click)="selecionaTabela(tabela)" class="mouse-pointer"> {{tabela.operadora.nome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="administradora">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Administradora </mat-header-cell>
            <mat-cell *matCellDef="let tabela" (click)="selecionaTabela(tabela)" class="mouse-pointer"> {{tabela.administradora.nome}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginatorTabela [pageSizeOptions]="[15, 50, 100]" [length]="dataSourceTabela.data.length" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="tabelaSelecionada" style="width: 20px"></div>

  <div *ngIf="tabelaSelecionada" style="flex-direction: column">
    <div>
      <mat-card>
        <mat-card-title>
          <span *ngIf="adicionandoTabela()">Adicionando Tabela</span>
          <span *ngIf="editandoTabela()">Editando Tabela</span>
          <span *ngIf="!adicionandoTabela() && !editandoTabela()">Visualizando Tabela</span>

          <span style="float: right; padding-left: 20px">
          <a *ngIf="!editandoTabela() && !adicionandoTabela()" (click)="editarTabela()">
            <mat-icon class="mouse-pointer">create</mat-icon>
          </a>
          <a *ngIf="!editandoTabela() && !adicionandoTabela()" (click)="removerTabela()">
            <mat-icon class="mouse-pointer">delete</mat-icon>
          </a>
          <a *ngIf="adicionandoTabela()" (click)="salvarNovaTabela()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="editandoTabela()" (click)="atualizarTabela()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="adicionandoTabela()" (click)="cancelarAdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
          <a *ngIf="editandoTabela()" (click)="cancelarEdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
        </span>
        </mat-card-title>
        <br/>

        <mat-card-content>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Estado</mat-label>
            <input matInput [formControl]="estadoAutoCompleteControl" [matAutocomplete]="auto1" type="text">
            <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="estadoDisplayFn">
              <mat-option *ngFor="let estado of estadoFilteredOptions | async" [value]="estado">
                {{estado.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" [disabled]="!adicionandoTabela() && !editandoTabela()"
                   [(ngModel)]="tabelaEditando.nome">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Administradora</mat-label>
            <input matInput [formControl]="administradoraAutoCompleteControl" [matAutocomplete]="auto2" type="text">
            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" [displayWith]="administradoraDisplayFn">
              <mat-option *ngFor="let administradora of administradoraFilteredOptions | async" [value]="administradora">
                {{administradora.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Operadora</mat-label>
            <input matInput [formControl]="operadoraAutoCompleteControl" [matAutocomplete]="auto3" type="text">
            <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" [displayWith]="operadoraDisplayFn">
              <mat-option *ngFor="let operadora of operadoraFilteredOptions | async" [value]="operadora">
                {{operadora.nome}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>Idade Min.</mat-label>
              <input type="number" matInput placeholder="Idade Minima" [disabled]="!adicionandoTabela() && !editandoTabela()"
                     [(ngModel)]="tabelaEditando.idadeMinima">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>Idade Max.</mat-label>
              <input type="number" matInput placeholder="Idade Maxima" [disabled]="!adicionandoTabela() && !editandoTabela()"
                     [(ngModel)]="tabelaEditando.idadeMaxima">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>Qtd Min. Vidas</mat-label>
              <input type="number" matInput placeholder="Idade Minima" [disabled]="!adicionandoTabela() && !editandoTabela()"
                     [(ngModel)]="tabelaEditando.qtdMinVidas">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>Qtd Min. Titulares</mat-label>
              <input type="number" matInput placeholder="Idade Maxima" [disabled]="!adicionandoTabela() && !editandoTabela()"
                     [(ngModel)]="tabelaEditando.qtdMinTitulares">
            </mat-form-field>
          </div>

          <div style="text-align: right">
            <span>
              <mat-slide-toggle [(ngModel)]="tabelaEditando.contemplaMEI" [disabled]="!adicionandoTabela() && !editandoTabela()" labelPosition="before">MEI</mat-slide-toggle>
            </span>
            <span style="padding-left: 25px">
              <mat-slide-toggle [(ngModel)]="tabelaEditando.compulsoria" [disabled]="!adicionandoTabela() && !editandoTabela()" labelPosition="before">Compulsoria</mat-slide-toggle>
            </span>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="tabelaSelecionada" style="padding-top: 10px">
  <mat-card>
    <mat-card-title>
      Relacionamentos - {{tabelaSelecionada.nome}}
      <div style="text-align: right; padding-bottom: 10px;">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
      </div>
    </mat-card-title>
    <mat-card-content>

      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>book</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              Produtos
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="flex-container" style="flex-direction: row">
            Oi =)
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
