<div class="flex-container" style="width: 100%">
  <div>
    <mat-card>
      <mat-card-title>
      <span>
        Lista de Tabelas
      </span>
        <span style="float: right">
        <a (click)="filtrar()">
          <mat-icon class="mouse-pointer">search</mat-icon>
        </a>
        <a (click)="adicionar()">
          <mat-icon class="mouse-pointer">add</mat-icon>
        </a>
      </span>
      </mat-card-title>
      <br/>

      <mat-card-content>
        <div [style.width]="this.tabelaSelecionada || filtrandoTabela() ? (window.innerWidth * 0.70) + 'px' : (window.innerWidth * 0.95) + 'px'" style="overflow: auto;">
          <mat-table [style.width]="getTableWidth()" #sortTabela="matSort" [dataSource]="dataSourceTabela" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
              <mat-cell *matCellDef="let tabela" [style.color]="'white'" [style.background-color]="tabela.operadora.cor" (click)="selecionaTabela(tabela)" class="mouse-pointer"> {{tabela.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nome" sticky>
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
              <mat-cell *matCellDef="let tabela" [style.color]="'white'" [style.background-color]="tabela.operadora.cor" (click)="selecionaTabela(tabela)" class="mouse-pointer"> {{tabela.nome}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado" sticky>
              <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
              <mat-cell *matCellDef="let tabela" [style.color]="'white'" [style.background-color]="tabela.operadora.cor" (click)="selecionaTabela(tabela)" class="mouse-pointer"> {{tabela.estado.sigla}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="operadora" sticky>
              <mat-header-cell *matHeaderCellDef mat-sort-header> Operadora </mat-header-cell>
              <mat-cell *matCellDef="let tabela" [style.color]="'white'" [style.background-color]="tabela.operadora.cor" (click)="selecionaTabela(tabela)" class="mouse-pointer"> {{tabela.operadora.nome}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="administradora" sticky>
              <mat-header-cell *matHeaderCellDef mat-sort-header> Adm | Detalhes </mat-header-cell>
              <mat-cell *matCellDef="let tabela" [style.color]="'white'" [style.background-color]="tabela.operadora.cor" (click)="selecionaTabela(tabela)" class="mouse-pointer">
                <span *ngIf="tabela.categoria === 'Adesão'">
                  {{tabela.administradora?.nome}}
                </span>
                <span *ngIf="tabela.categoria === 'Empresarial'">
                 {{tabela.contemplaMEI ? 'Mei' : ''}} {{tabela.livreAdesao ? tabela.contemplaMEI ? ' | LA' : 'LA' : ''}} {{tabela.compulsoria ? (tabela.contemplaMEI || tabela.livreAdesao) ? ' | Comp' : 'Comp' : ''}}
                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="reajuste">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Reajuste </mat-header-cell>
              <mat-cell *matCellDef="let tabela" [style.color]="'white'" [style.background-color]="tabela.operadora.cor" (click)="selecionaTabela(tabela)" class="mouse-pointer"> {{tabela.reajuste}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="idadeMinima">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Idade Min. </mat-header-cell>
              <mat-cell *matCellDef="let tabela" [style.color]="'white'" [style.background-color]="tabela.operadora.cor" (click)="selecionaTabela(tabela)" class="mouse-pointer"> {{tabela.idadeMinima}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="idadeMaxima">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Idade Max.  </mat-header-cell>
              <mat-cell *matCellDef="let tabela" [style.color]="'white'" [style.background-color]="tabela.operadora.cor" (click)="selecionaTabela(tabela)" class="mouse-pointer"> {{tabela.idadeMaxima}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="qtdMinVidas">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Qtd. Min. Vidas </mat-header-cell>
              <mat-cell *matCellDef="let tabela" [style.color]="'white'" [style.background-color]="tabela.operadora.cor" (click)="selecionaTabela(tabela)" class="mouse-pointer"> {{tabela.qtdMinVidas}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="qtdMinTitulares">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Qtd. Min. Titulares </mat-header-cell>
              <mat-cell *matCellDef="let tabela" [style.color]="'white'" [style.background-color]="tabela.operadora.cor" (click)="selecionaTabela(tabela)" class="mouse-pointer"> {{tabela.qtdMinTitulares}} </mat-cell>
            </ng-container>

            <ng-container [matColumnDef]="profissao.nome" *ngFor="let profissao of todasProfissoes">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{profissao.nome }} </mat-header-cell>
              <mat-cell *matCellDef="let tabela" [style.color]="'white'" [style.background-color]="tabela.operadora.cor" (click)="selecionaTabela(tabela)" class="mouse-pointer">
                <div style="overflow: auto; height: 48px;">
                  {{ getNomesEntidadesPorProfissao(tabela, profissao.nome) }}
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
        <mat-paginator #paginatorTabela [pageSizeOptions]="[100, 500, 1000]" [length]="dataSourceTabela.data.length" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="tabelaSelecionada || filtrandoTabela()" [style.width]="filtrandoTabela() ? '10px' : '20px'"></div>

  <div *ngIf="filtrandoTabela()" [style.width]="window.innerWidth * 0.25 + 'px'" style="flex-direction: column">
    <div>
      <mat-card>
        <mat-card-title>
          <span>Filtrando Tabela</span>

          <span style="float: right; padding-left: 20px">
          <a (click)="limparFiltro()">
            <mat-icon class="mouse-pointer">cleaning_services</mat-icon>
          </a>
          <a (click)="cancelarFiltro()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
        </span>
        </mat-card-title>
        <br/>

        <mat-card-content>
          <div style="display: flex; margin-bottom: 20px">
            <div style="width: 60%">
              <mat-radio-group (ngModelChange)="filtraTabela();" [(ngModel)]="filtroTabela.categoria" >
                <mat-radio-button style="padding-right: 15px" *ngFor="let categoria of todasCategorias" [value]="categoria">
                  {{categoria}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <mat-form-field *ngIf="filtroTabela.categoria === 'Empresarial'" appearance="outline" style="width: 100%">
            <mat-label>Tipo Adesão</mat-label>
            <mat-select (ngModelChange)="filtraTabela()" [(ngModel)]="filtroTabela.tipoAdesao">
              <mat-option [value]="'Livre Adesão'">Livre Adesão</mat-option>
              <mat-option [value]="'Compulsória'">Compulsória</mat-option>
              <mat-option [value]="''">Ambas</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="filtroTabela.categoria === 'Empresarial'" appearance="outline" style="width: 100%">
            <mat-label>MEI</mat-label>
            <mat-select (ngModelChange)="filtraTabela()" [(ngModel)]="filtroTabela.contemplaMEI">
              <mat-option [value]="true">Mei</mat-option>
              <mat-option [value]="false">Não Mei</mat-option>
              <mat-option [value]="''">Ambos</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Nome</mat-label>
            <input matInput #inputFiltroNome (focusin)="inputFiltroNome.select()" (ngModelChange)="filtraTabela()" placeholder="Nome" [(ngModel)]="filtroTabela.nome">
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Estado</mat-label>
            <mat-select (ngModelChange)="filtraTabela()" [(ngModel)]="filtroTabela.estados" multiple>
              <mat-option *ngFor="let estado of todosEstadosTabela;" [value]="estado">{{estado.sigla}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Operadoras</mat-label>
            <mat-select (ngModelChange)="filtraTabela()" [(ngModel)]="filtroTabela.operadoras" multiple>
              <mat-option *ngFor="let operadora of todasOperadorasTabela;" [value]="operadora">{{operadora.nome}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="filtroTabela.categoria === 'Adesão'" appearance="outline" style="width: 100%">
            <mat-label>Administradoras</mat-label>
            <mat-select (ngModelChange)="filtraTabela()" [(ngModel)]="filtroTabela.administradoras" multiple>
              <mat-option *ngFor="let administradora of todasAdministradorasTabela;" [value]="administradora">{{administradora.nome}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Reajuste</mat-label>
            <mat-select (ngModelChange)="filtraTabela()" [(ngModel)]="filtroTabela.reajustes" multiple>
              <mat-option *ngFor="let reajuste of todosReajustes;" [value]="reajuste">{{reajuste}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Profissão</mat-label>
            <mat-select (ngModelChange)="filtraTabela()" [(ngModel)]="filtroTabela.profissoes" multiple>
              <mat-option *ngFor="let profissao of todasProfissoes;" [value]="profissao">{{profissao.nome}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>Tipo Filtro</mat-label>
              <mat-select (ngModelChange)="filtraTabela()" [(ngModel)]="filtroTabela.tipoFiltro">
                <mat-option [value]="'<'"><</mat-option>
                <mat-option [value]="'='">=</mat-option>
                <mat-option [value]="'>'">></mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>Idade Min.</mat-label>
              <input matInput #inputFiltroIdadeMin (focusin)="inputFiltroIdadeMin.select()" [disabled]="!filtroTabela.tipoFiltro" (ngModelChange)="filtraTabela()" [(ngModel)]="filtroTabela.idadeMinima" type="number" placeholder="Idade Min.">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" style="width: 33.3%">
              <mat-label>Idade Max.</mat-label>
              <input matInput #inputFiltroIdadeMax (focusin)="inputFiltroIdadeMax.select()" [disabled]="!filtroTabela.tipoFiltro" (ngModelChange)="filtraTabela()" [(ngModel)]="filtroTabela.idadeMaxima" type="number" placeholder="Idade Max.">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 33.3%">
              <mat-label>Qtd. Min. Vidas</mat-label>
              <input matInput #inputFiltroQtdMinVidas (focusin)="inputFiltroQtdMinVidas.select()" [disabled]="!filtroTabela.tipoFiltro" (ngModelChange)="filtraTabela()" [(ngModel)]="filtroTabela.qtdMinVidas" type="number" placeholder="Qtd. Min. Vidas">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 33.3%">
              <mat-label>Qtd. Min. Titulares</mat-label>
              <input matInput #inputFiltroQtdMinTitulares (focusin)="inputFiltroQtdMinTitulares.select()" [disabled]="!filtroTabela.tipoFiltro" (ngModelChange)="filtraTabela()" [(ngModel)]="filtroTabela.qtdMinTitulares" type="number" placeholder="Qtd. Min. Titulares">
            </mat-form-field>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div *ngIf="tabelaSelecionada" style="flex-direction: column">
    <div>
      <mat-card>
        <mat-card-title>
          <span *ngIf="adicionandoTabela()">Adicionando Tabela</span>
          <span *ngIf="editandoTabela()">Editando Tabela</span>
          <span *ngIf="!adicionandoTabela() && !editandoTabela()">Visualizando Tabela</span>

          <span style="float: right; padding-left: 20px">
          <a *ngIf="!editandoTabela() && !adicionandoTabela()" (click)="editarTabela()">
            <mat-icon class="mouse-pointer">create</mat-icon>
          </a>
          <a *ngIf="!adicionandoTabela()" (click)="copiarTabela()">
            <mat-icon class="mouse-pointer">content_copy</mat-icon>
          </a>
          <a *ngIf="!editandoTabela() && !adicionandoTabela()" (click)="removerTabela()">
            <mat-icon class="mouse-pointer">delete</mat-icon>
          </a>
          <a *ngIf="adicionandoTabela()" (click)="salvarNovaTabela()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="editandoTabela()" (click)="atualizarTabela()">
            <mat-icon class="mouse-pointer">save</mat-icon>
          </a>
          <a *ngIf="adicionandoTabela() || (!editandoTabela() && !adicionandoTabela())" (click)="cancelarAdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
          <a *ngIf="editandoTabela()" (click)="cancelarEdicao()">
            <mat-icon class="mouse-pointer">close</mat-icon>
          </a>
        </span>
        </mat-card-title>
        <br/>

        <mat-card-content>
          <form #formTabela="ngForm">
            <div style="margin-bottom: 20px">
              <mat-radio-group name="categoria" (ngModelChange)="modelChangeCategoria($event)" [(ngModel)]="tabelaEditando.categoria" [disabled]="!adicionandoTabela() && !editandoTabela()" required>
                <mat-radio-button style="padding-right: 15px" *ngFor="let categoria of todasCategorias" [value]="categoria">
                  {{categoria}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Estado</mat-label>
              <input matInput #inputEstado (focusin)="inputEstado.select()" name="estado" [formControl]="estadoAutoCompleteControl" [matAutocomplete]="auto1" type="text" required>
              <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="estadoDisplayFn">
                <mat-option *ngFor="let estado of estadoFilteredOptions | async" [value]="estado">
                  {{estado.nome}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Nome</mat-label>
              <input matInput #inputNome (focusin)="inputNome.select()" name="nome" placeholder="Nome" [(ngModel)]="tabelaEditando.nome" [disabled]="!adicionandoTabela() && !editandoTabela()" required>
            </mat-form-field>

            <mat-form-field *ngIf="isCategoriaAdesao()" appearance="outline" style="width: 100%">
              <mat-label>Administradora</mat-label>
              <input matInput #inputAdministradora (focusin)="inputAdministradora.select()" name="administradora" [formControl]="administradoraAutoCompleteControl" [matAutocomplete]="auto2" type="text" [required]="isCategoriaAdesao()">
              <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" [displayWith]="administradoraDisplayFn">
                <mat-option *ngFor="let administradora of administradoraFilteredOptions | async" [value]="administradora">
                  {{administradora.nome}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Operadora</mat-label>
              <input matInput #inputOperadora (focusin)="inputOperadora.select()" name="operadora" (ngModelChange)="carregaTabelaProdutoPorOperadora()" [formControl]="operadoraAutoCompleteControl" [matAutocomplete]="auto3" type="text" required>
              <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" [displayWith]="operadoraDisplayFn">
                <mat-option *ngFor="let operadora of operadoraFilteredOptions | async" [value]="operadora">
                  {{operadora.nome}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Reajuste</mat-label>
              <input matInput #inputReajuste (focusin)="inputReajuste.select()" name="reajuste" [formControl]="reajusteAutoCompleteControl" [matAutocomplete]="auto4" type="text" required>
              <mat-autocomplete autoActiveFirstOption #auto4="matAutocomplete" [displayWith]="reajusteDisplayFn">
                <mat-option *ngFor="let reajuste of reajusteFilteredOptions | async" [value]="reajuste">
                  {{reajuste}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div>
              <mat-form-field appearance="outline" style="width: 50%">
                <mat-label>Idade Min.</mat-label>
                <input matInput #inputIdadeMinima (focusin)="inputIdadeMinima.select()" type="number" name="idadeMinima" placeholder="Idade Minima" [disabled]="!adicionandoTabela() && !editandoTabela()"
                       [(ngModel)]="tabelaEditando.idadeMinima" required>
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 50%">
                <mat-label>Idade Max.</mat-label>
                <input matInput #inputIdadeMaxima (focusin)="inputIdadeMaxima.select()" type="number" name="idadeMaxima" placeholder="Idade Maxima" [disabled]="!adicionandoTabela() && !editandoTabela()"
                       [(ngModel)]="tabelaEditando.idadeMaxima" required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" style="width: 50%">
                <mat-label>Qtd Min. Vidas</mat-label>
                <input matInput #inputQtdMinVidas (focusin)="inputQtdMinVidas.select()" type="number" name="qtdMinVidas" placeholder="Idade Minima" [disabled]="!adicionandoTabela() && !editandoTabela()"
                       [(ngModel)]="tabelaEditando.qtdMinVidas" required>
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 50%">
                <mat-label>Qtd Min. Titulares</mat-label>
                <input matInput #inputQtdMinTitulares (focusin)="inputQtdMinTitulares.select()" type="number" name="qtdMinTitulares" placeholder="Idade Maxima" [disabled]="!adicionandoTabela() && !editandoTabela()"
                       [(ngModel)]="tabelaEditando.qtdMinTitulares" required>
              </mat-form-field>
            </div>

            <div style="text-align: right">
              <span *ngIf="categoriaEmpresarial()">
                <mat-slide-toggle name="mei" [(ngModel)]="tabelaEditando.contemplaMEI" [disabled]="!adicionandoTabela() && !editandoTabela()" labelPosition="before">MEI</mat-slide-toggle>
              </span>
                <span style="padding-left: 25px" *ngIf="categoriaEmpresarial()">
                <mat-slide-toggle name="livreAdesao" [(ngModel)]="tabelaEditando.livreAdesao" [disabled]="!adicionandoTabela() && !editandoTabela()" labelPosition="before">Livre Adesão</mat-slide-toggle>
              </span>
                <span style="padding-left: 25px" *ngIf="categoriaEmpresarial()">
                <mat-slide-toggle name="compulsoria" [(ngModel)]="tabelaEditando.compulsoria" [disabled]="!adicionandoTabela() && !editandoTabela()" labelPosition="before">Compulsória</mat-slide-toggle>
              </span>
            </div>
            <button type="submit" hidden></button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div [hidden]="!tabelaSelecionada" style="padding-top: 10px">
  <mat-card>
    <mat-card-title>
      Relacionamentos - {{tabelaSelecionada?.nome}}
      <div style="text-align: right; padding-bottom: 10px;">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
      </div>
    </mat-card-title>
    <mat-card-content>

      <mat-accordion multi>
        <div class="flex-container" style="flex-direction: row; width: 100%; margin-top: 5px">
          <div style="width: 50%">
            <mat-expansion-panel #relacionamentoProduto [disabled]="!this.tabelaEditando?.operadora?.id">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>book</mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                  Produtos
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div>
                <mat-form-field style="width: 100%">
                  <mat-label>Filtro</mat-label>
                  <input matInput (keyup)="applyFilterProduto($event)" placeholder="Filtro" #inputFiltroProduto>
                </mat-form-field>
                <mat-table matSort #sortProduto="matSort" [dataSource]="dataSourceProduto" matSortActive="selected" matSortDirection="desc" class="mat-elevation-z8">
                  <ng-container matColumnDef="idProduto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                    <mat-cell *matCellDef="let produto" (click)="produto.selected = !produto.selected" class="mouse-pointer"> {{produto.id}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="nomeProduto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let produto" (click)="produto.selected = !produto.selected" class="mouse-pointer"> {{produto.nome}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="abrangenciaProduto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Abrangencia </mat-header-cell>
                    <mat-cell *matCellDef="let produto" (click)="produto.selected = !produto.selected" class="mouse-pointer"> {{produto.abrangencia}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="selected">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center"> Selecione </mat-header-cell>
                    <mat-cell *matCellDef="let produto">
                      <section style="width: 100%; text-align: center">
                        <mat-checkbox [(ngModel)]="produto.selected"></mat-checkbox>
                      </section>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="getColumnsProduto()"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: getColumnsProduto();"></mat-row>

                  <tr class="mat-row" *matNoDataRow>
                    <td style="text-align: center; width: 100%; margin: auto" class="mat-cell">Nenhum resultado encontrado para o filtro: "{{inputFiltroProduto.value}}"</td>
                  </tr>
                </mat-table>
                <mat-paginator #paginatorProduto [pageSizeOptions]="[25, 50, 100]" [length]="dataSourceProduto.data.length" showFirstLastButtons></mat-paginator>
              </div>
            </mat-expansion-panel>
          </div>
          <div [hidden]="!isCategoriaAdesao()" style="width: 50%; padding-left: 10px">
            <mat-expansion-panel #relacionamentoEntidade>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>groups</mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                  Entidades
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div>
                <mat-form-field style="width: 100%">
                  <mat-label>Filtro</mat-label>
                  <input matInput (keyup)="applyFilterEntidade($event)" placeholder="Filtro" #inputFiltroEntidade>
                </mat-form-field>
                <mat-table matSort #sortEntidade="matSort" [dataSource]="dataSourceEntidade" matSortActive="selected" matSortDirection="desc" class="mat-elevation-z8">
                  <ng-container matColumnDef="idEntidade">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                    <mat-cell *matCellDef="let produto" (click)="produto.selected = !produto.selected" class="mouse-pointer"> {{produto.id}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="nomeEntidade">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let produto" (click)="produto.selected = !produto.selected" class="mouse-pointer"> {{produto.nome}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="profissoesEntidade">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Profissões </mat-header-cell>
                    <mat-cell *matCellDef="let produto" (click)="produto.selected = !produto.selected" class="mouse-pointer"> {{produto.profissoes.map(getNomeProfissao).join(', ')}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="selected">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center"> Selecione </mat-header-cell>
                    <mat-cell *matCellDef="let produto">
                      <section style="width: 100%; text-align: center">
                        <mat-checkbox [(ngModel)]="produto.selected"></mat-checkbox>
                      </section>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="getColumnsEntidade()"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: getColumnsEntidade();"></mat-row>

                  <tr class="mat-row" *matNoDataRow>
                    <td style="text-align: center; width: 100%; margin: auto" class="mat-cell">Nenhum resultado encontrado para o filtro: "{{inputFiltroEntidade.value}}"</td>
                  </tr>
                </mat-table>
                <mat-paginator #paginatorEntidade [pageSizeOptions]="[25, 50, 100]" [length]="dataSourceEntidade.data.length" showFirstLastButtons></mat-paginator>
              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
